<div> <!-- Conteúdo da modal -->
  
  <div class="imageIlustrator">
    <img  src="../../assets/png/imagem.png" alt="">
  </div>

  <!-- <div class="inputs">
    <input placeholder="Nome" class="inputText">
    <input placeholder="Categoria" class="inputText">
    <textarea placeholder="Descrição" class="description"></textarea>
  </div> -->

  <div class="modal-content">
    <form>
      <ng-container *ngFor="let inputRow of inputs">
        <div *ngFor="let input of inputRow">
          <input type="text" [placeholder]="input.placeholder" class="inputText"  [id]="input.id">
        </div>
      </ng-container>
    </form>
  </div>

  <div class="buttonBig">
    <app-button-big>{{button}}</app-button-big>
  </div>
</div>


