<div> <!-- Conteúdo da modal -->
  
  <div class="imageIlustrator">
    <img  src="../../assets/png/imagem.png" alt="">
  </div>

  <div class="modal-content">
    <form>
      <ng-container *ngFor="let inputRow of inputs">
        <div  class="inputs">
          <div *ngFor="let input of inputRow">
            <input type="text" [placeholder]="input.placeholder" [id]="input.id" [class]="input.class">
          </div>
        </div>
      </ng-container>
    </form>
  </div>  

  <div class="buttonBig">
    <app-button-big>{{button}}</app-button-big>
  </div>
</div>


