<ion-content>
  <div class="content">
    <app-card-user-community
      [numInvitesCommunity]="formatNumber(invitationCommunitiesCount)"
      [numEnteredCommunity]="formatNumber(loginCommunitiesCount)"
      [numCreatedCommunity]="formatNumber(createdCommunitiesCount)"
      [state]="state"
      greeting="Boa noite!"
      [userName]="userName"
      [imagePath]="'./../assets/svg/character.svg'">
    </app-card-user-community>

    <div class="input-button">
      <input type="text" placeholder="Pesquisa..." (input)="onSearchInput($event)">
      <button type="button">Buscar</button>
    </div>

    <div class="communities" [ngClass]="{'slide-up-animation': searchText}">
      <app-card-list-search
      *ngFor="let item of itemsToShow"
      [routerLink]="['/create-comunnity']"
      class="card-list-search-create"
      [imagePath]="item.imagePath"
      [title]="item.title"
      ></app-card-list-search>
    </div>

    <div>
      <!-- <app-card-list-search
      *ngFor="let community of communities" name="community"
      [title]="community.nm_comunidade"
      [routerLink]="['/update-community', community.id_usuario,community.id_comunidade]"></app-card-list-search> -->
      <app-card-list-search
      *ngFor="let community of communities" name="community"
      (click)="navigateToCommunityPage(community.id_comunidade, community.id_criador)"
      [title]="community.nm_comunidade"
      ></app-card-list-search>
    </div>
  </div>
</ion-content>
