<ion-content [fullscreen]="true" scrollY="false">
  <img class="forward" src="../../assets/svg/arrow_forward_ios.svg" alt="" [routerLink]="['/comunnity-lists-item', userId, communityId,listId]">

  <div class="imageIlustrator">
    <img src="../../assets/png/imagem.png" alt="">
  </div>

  <form (submit)="updateItem($event)" class="inputs">
    <input [(ngModel)]="end_lista" name="endLista" placeholder="Local" class="inputName">
  
    <div class="buttonBig">
      <app-button-big>Atualizar local</app-button-big>
    </div>
  </form>

  <div class="options">
    <app-button-small [routerLink]="['/comunnity-lists-item', userId, communityId,listId]" class="textButton">Cancelar</app-button-small>
  </div>
</ion-content>
