<ion-content [fullscreen]="true" scrollY="false">
  <img class="forward" src="../../assets/svg/arrow_forward_ios.svg" alt="">

  <div class="imageIlustrator">
    <img  src="../../assets/png/imagem.png" alt="">
  </div>

  <form action="" class="inputs">
    <input placeholder="Nome"  class="inputName">
    <input placeholder="Quantidade" class="inputText" type="number">
    <input placeholder="Medida" class="inputText" type="number">
  </form>

  <div class="buttonBig">
    <app-button-big  >Adicionar item</app-button-big>
  </div>

  <div class="options">
    <app-button-small class="textButton">Cancelar</app-button-small>
    <div  class="excluir">
      <p>Excluir</p>
    </div>
  </div>
  

</ion-content>