<ion-content [fullscreen]="true" scrollY="false">
  <img class="forward" src="../../assets/svg/arrow_forward_ios.svg" [routerLink]="['/list-adm-community', userId, communityId]" alt="">

  <div class="imageIlustrator">
    <img width="200px" height="200px" src="../../assets/svg/defaultImgItem.svg" alt="">
  </div>

  <form (ngSubmit)="updateItemCommunity($event)" class="inputs">

    <input name="name" [(ngModel)]="name" [placeholder]="item?.nm_item || 'Nome'" class="inputName">
    
    <ion-item class="item">
      <input type="number" class="inputText" name="measure_quantity" [(ngModel)]="measure_quantity" [placeholder]="item?.qtde_medida || 'Medida'" >
      <ion-select [(ngModel)]="medidaSelecionada" name="measures" style="position: absolute; margin-left: 140px;" >
        <ion-select-option *ngFor="let measure of measure" [value]="measure.id_medida">{{ measure.ds_medida }}</ion-select-option>
      </ion-select>
    </ion-item>
    
    <input name="quantity" [(ngModel)]="quantity" [placeholder]="item?.qtde_item || 'Quantidade'" class="inputText" type="number">

    
    <div class="buttonBig">
      <app-button-big >Salvar Alterações</app-button-big>
    </div>
  </form>

  <!-- ARRUMAR EIN TATAVO -->
  <div class="options">
    <!-- Botão Cancelar -->
    <a style="text-decoration: none;" [routerLink]="" class="cancelar" [routerLink]="['/list-adm-community', userId, communityId]">Cancelar</a>
    <!-- Botão Excluir -->
    <div (click)="deleteItem()" class="excluir">
      <p>Excluir</p>
    </div>
  </div>

</ion-content>
