<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <app-button-big>Cadastrar</app-button-big>
    <app-button-medium>Entrar</app-button-medium>
    <app-button-medium-outline>MUDAR SENHA</app-button-medium-outline>
  </ion-content>
    <!-- <app-button-medium>Continuar</app-button-medium>
    <app-button-medium>Entrar</app-button-medium>
    <app-button-big-outline>Cadastrar</app-button-big-outline> -->

</ion-content>
