<ion-content [fullscreen]="true">
  <img class="forward" src="../../assets/svg/arrow_forward_ios.svg" alt="seta para voltar" [routerLink]="['/tabs/tab1']">

  <h3></h3>

  <a href="https://buy.stripe.com/test_14k2bCgvX0CT1DWeUX" target="_blank" (click)="updateUserSubscription(1)">
    <app-card-plans
      [customClass]="isPlanActive(1) ? 'active-plan' : ''"
      [planTitle]="isPlanActive(1) ? 'Plano Ativo' : null"
      [planPreco]="'Grátis'"
      [planDesc]="'Limitado a algumas funcionalidades para iniciar a gestão financeira.'"
      [planItems]="['Entrar 1 comunidade','Criar em 2 comunidades', '3 comparações mensais']"
      iconType="circle">
    </app-card-plans>
  </a>

  <a href="https://buy.stripe.com/test_4gw9E4gvX5XddmEfZ2" target="_blank" (click)="updateUserSubscription(2)">
    <app-card-plans
      [customClass]="isPlanActive(2) ? 'active-plan' : ''"
      [planTitle]="isPlanActive(2) ? 'Plano Ativo' : null"
      [planPreco]="'R$9.90'"
      [planDesc]="'Ideal para quem busca mais recursos para um controle mais abrangente.'"
      [planItems]="['Criar 2 comunidades', 'Criar até 10 listas','10 comparações mensais', 'Relatórios mensais']"
      iconType="square">
    </app-card-plans>
  </a>

  <a href="https://buy.stripe.com/test_fZe5nObbD99pdmE4gl" target="_blank" (click)="updateUserSubscription(3)">
    <app-card-plans
      [customClass]="isPlanActive(3) ? 'active-plan' : ''"
      [planTitle]="isPlanActive(3) ? 'Plano Ativo' : null"
      [planPreco]="'R$19.90'"
      [planDesc]="'Oferece acesso total e ilimitado a todas as funções para uma gestão financeira completa.'"
      [planItems]="['Comunidades ilimitadas', 'Listas Ilimitadas', 'Relatórios mensais e semestrais', 'Comparações ilimitadas']"
      iconType="triangle">
    </app-card-plans>
  </a>
</ion-content>
