<ion-card>
  <div class="user">
    <div class="greeting-user">
      <p>{{greeting}}</p>
      <p>{{userName}}</p>
    </div>
    <div class="user-profile">
      <img [src]="imagePath">
    </div>
  </div>
  <div class="user-state">
    <div class="user-online">{{state}}</div>
  </div>
  <div class="communities">
    <div class="created-communities">
      <p>{{numCreatedCommunity}}</p>
      <p>Comunidades criadas</p>
    </div>
    <div class="entered-communities">
      <p>{{numEnteredCommunity}}</p>
      <p>Comunidades entradas</p>
    </div>
    <div class="invites-communities">
      <p>{{numInvitesCommunity}}</p>
      <p>Convites de comunidades</p>
    </div>
  </div>
</ion-card>