.buttonArrow{
    width: 56.25px;
    height: 56.25px;
    flex-shrink: 0;
    background: var(--Color-brand1, #006EFF);
    opacity: 0.75;
    border-radius: 100%;
}

img{
    width: 30px;
    height: 30px;
}