@import '../../../../global.scss';

.buttonArrow{
    width: 56.25px;
    height: 56.25px;
    flex-shrink: 0;
    background: #{$brand1};
    border-radius: 100%;
}

img{
    width: 30px;
    height: 30px;
}

:host.buttonArrow button{
    border-radius: var(--Space-8, 8px);
    background: #{$brand1};
    width: 35px;
    height: 35px;
    // margin-left: 70%;
}