<ion-content scrollY="false" >
  <div class="containerHeader">
    <h1>Vamos Começar?</h1>
  </div>

  <div class="bolinhas">
    <div class="div2"></div>
    <div class="div3"></div>
    <div class="div1"></div>
  </div>

  <div>
    <img src="../../assets/png/people-list2.png" alt="" class="peopleList">
    <p>Transforme seu dia a dia financeiro com nosso aplicativo</p>
    <div class="container">
      <app-button-medium class="button" [routerLink]="['/login-account']">Entrar</app-button-medium>
      <app-button-medium-outline class="buttonOutline" [routerLink]="['/create-account']">Cadastrar</app-button-medium-outline>
    </div>
  </div>
</ion-content>
