h1{
    color: var(--Normal0, #161A1D);
    text-align: left;
    font-family: 'Poppins';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 35.2px;
    padding-top: 5%;
}

.content{
  margin: 0 20px;
}

span{
    color: var(--Color-inverted-inverted500, #8590A2);
    text-align: center;
    font-family: 'Poppins';
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h3{
    margin: 0;
}

.buttonArrow{
    margin-left: auto;
}

.containerButton{
    padding-left: 81%;
}

.row{
    margin-top: 60px;
    margin-bottom: 60px;
}

.rowPrimary{
    margin-top: 40px;
}
.content{
    padding: 24px 16px;
}
