<ion-content [fullscreen]="true" scrollY="false">
  <div class="content">
    <h1>Minha Conta</h1>
    <ion-row class="rowPrimary">
      <ion-col>  
        <h3>Álvaro Oliveira</h3>
        <span>Modifique Seus Dados</span>
      </ion-col>
      <ion-col>
          <app-button-arrow [routerLink]="['/acount']" [imagePath]="'./../../assets/png/arrow_forward_white.png'" class="buttonArrow"></app-button-arrow>
      </ion-col>
    </ion-row>
  
    <ion-grid class="grid">
    <h1>Aplicativo</h1>
    <ion-row class="row">
      <ion-col>  
        <h3>Notificações</h3>
      </ion-col>
      <ion-col>
          <app-button-arrow [routerLink]="['/notifications']" [imagePath]="'./../../assets/png/arrow_forward_white.png'" class="buttonArrow"></app-button-arrow>
      </ion-col>
    </ion-row>
  
    <ion-row class="row">
      <ion-col>  
        <h3>Preferências</h3>
      </ion-col>
      <ion-col>
          <app-button-arrow [imagePath]="'./../../assets/png/arrow_forward_white.png'" class="buttonArrow"></app-button-arrow>
      </ion-col>
    </ion-row>
  
    <ion-row class="row">
      <ion-col>  
        <h3>Dark Mode</h3>
      </ion-col>
      <ion-col>
          <ion-toggle [checked]="true" class="toggle"></ion-toggle>
      </ion-col>
    </ion-row>
  
    <ion-row class="row">
      <ion-col>  
        <h3>Ajuda</h3>
      </ion-col>
      <ion-col>
          <app-button-arrow  [routerLink]="['/ajuda']" [imagePath]="'./../../assets/png/arrow_forward_white.png'" class="buttonArrow"></app-button-arrow>
      </ion-col>
    </ion-row>
  
  </ion-grid>
  </div>

</ion-content>
