<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-card-listas-azul></app-card-listas-azul>
  <app-card-lista-laranja></app-card-lista-laranja>  
  <app-card-banner-yellow class="card-banner-blue"></app-card-banner-yellow>
  <app-card-banner-yellow class="card-banner-orage"></app-card-banner-yellow>
  <app-card-icon-home></app-card-icon-home>
</ion-content>

<ion-content>
  <app-button-big>Cadastrar</app-button-big>
  <app-button-medium>Entrar</app-button-medium>
  <app-button-medium-outline >Cadastrar</app-button-medium-outline>
</ion-content>



