@import "../../../../global.scss";


*{
    margin: 0px;
}
ion-card{
    background-color: $N200;
    margin: 0px 50px 40px 50px;
    min-height: 500px;
    border-radius: 16px;
}
.content{
    margin: 64px 30px 64px 30px;
}
.spanPlan{
    color: #000;
    background-color: $B100;
    border-radius: 16px;
    padding: 7px;
    font-size: 12px;
    font-weight: 600;
}
h1{
    color: $brand1;
    font-size: 56px;
    font-weight: 700;
    margin-top: 34px;
}
p{
    color: $N600;
    font-size: 12px;
    line-height: 16px;
}
h2{
    margin: 34px 0px 34px 0px;
    color: $N0D;
    font-weight: 600;
}
ul{
    padding: 0px;
}
li{
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
li img {
    margin-right: 10px;
}
li span{
    color: $N0D;
    font-size: 12px;
}



