<ion-card><!--  Ainda está sendo feito -->
  <div class="content">
    <span class="spanPlan">Seu plano</span>
    <h1>Grátis</h1>
    <p>Limitado a algumas funcionalidades para iniciar a gestão financeira</p>
    <h2>Inclui:</h2>
    <ul>
      <li>
          <img src="../../../../assets/svg/checkbox.svg" alt="">
          <span>Entrar em 5 comunidades</span>
      </li>
      <li>
        <img src="../../../../assets/svg/checkbox.svg" alt="">
        <span>Criar 10 listas</span>
      </li>
      <li>
        <img src="../../../../assets/svg/checkbox.svg" alt="">
        <span>5 comparações mensais</span>
      </li>
    </ul>
  </div>
</ion-card>
