<ion-card [ngClass]="customClass">
  <img *ngIf="iconType === 'circle'" src="../../../../assets/svg/circle.svg" alt="" class="icon icon-right">
  <img *ngIf="iconType === 'triangle'" src="../../../../assets/svg/triangle.svg" alt="" class="icon icon-right">
  <img *ngIf="iconType === 'square'" src="../../../../assets/svg/square.svg" alt="" class="icon icon-right">
  <div class="content">
    <span
    [ngStyle]="{
      'color': planTitle === 'Plano Ativo' ? '#B38600' : '#161A1D',
      'background-color': planTitle === 'Plano Ativo' ? 'rgba(255, 172, 74, 0.3)' : 'transparent'
    }"
    class="spanPlan">
    {{ planTitle }}
  </span>
    <h1>{{ planPreco }}</h1>
    <p>{{ planDesc }}</p>
    <h2>Inclui:</h2>
    <ul>
      <li *ngFor="let item of planItems">
        <img src="../../../../assets/svg/checkbox.svg" alt="">
        <span>{{ item }}</span>
      </li>
    </ul>
  </div>
</ion-card>
