<!-- UMA GUIA DE TESTES!!! nao apaga <3 -->
<ion-content>
  <img class="forward" src="../../assets/svg/arrow_forward_ios.svg" alt="seta para voltar" [routerLink]="['/tabs/tab2']">

  <div class="imageIlustrator">
    <img  src="../../assets/png/imagem.png">
  </div>

  <div class="inputs">
    <div class="input-container">
      <input placeholder="Nome"
              class="inputText"
              (input)="updateCounter($event)"
              maxlength="20">
      <div class="counter"></div>
    </div>

      <!-- Drop do Peso -->
    <!-- <div> 
      <select id="peso" name="peso" class="dropdown">
          <option value="placeholder" selected disabled hidden>Peso</option>
          <option value="">Kg</option>
          <option value="">g</option>
          <option value="">L</option>
          <option value="">mL</option>
          <option value="">M</option>
          <option value="">cm</option>
      </select>
    </div> -->

    <app-example class="typeahead"></app-example>

      <form [formGroup]="textForm">
        <div class="input-container">
          <input formControlName="valorMaximo" placeholder="Valor máximo" (input)="formatCurrency($event)">
        </div>

        <!-- Dropdown peso -->
        <div class="input-container" >
          <ion-item style="--inner-border-width: 0px 0px 0px 0px;padding: 0px !important;">
            <input [(ngModel)]="inputTextValue" class="inputText" (click)="toggleDropdown()" (input)="formatCurrency($event)" formControlName="peso">
            
            <ion-select [(ngModel)]="selectedOption" style="position: absolute;
            margin-left: 140px;">
              <ion-select-option *ngFor="let option of dropdownOptions" [value]="option">{{ option }}</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
        <!-- Dropdown peso -->

        <div class="input-container">
          <input formControlName="peso" placeholder="Peso" class="inputText" (input)="formatCurrency($event)">
        </div>
      </form>

    <div class="input-container">
      <textarea placeholder="Descrição" class="description" (input)="updateCounter($event)" maxlength="100"></textarea>
      <div class="counter"></div>
    </div>
  </div>
  
  <div class="buttonBig">
    <app-button-big>Criar Lista</app-button-big>
  </div>
</ion-content>
