<ion-content>
  <img class="forward" src="../../assets/svg/arrow_forward_ios.svg" alt="seta para voltar" [routerLink]="['/tabs/tab2']">

  <div class="imageIlustrator">
    <img  src="../../assets/png/imagem.png" alt="">
  </div>

  <div class="inputs">

    <div class="input-container">
      <input placeholder="Nome"
             class="inputText"
             (input)="updateCounter($event)"
             maxlength="20">
      <div class="counter"></div>
    </div>
    
    <div class="input-container">
      <input placeholder="Categoria"
             class="inputText"
             (input)="updateCounter($event)"
             maxlength="20">
      <div class="counter"></div>
    </div>

    <div class="input-container">
      <textarea placeholder="Descrição" class="description" (input)="updateCounter($event)" maxlength="100"></textarea>
      <div class="counter"></div>
    </div>
    
    <textarea placeholder="Descrição" class="description"></textarea>

    <div>
      <select id="categoria" name="categoria" class="dropdown">
        <option value="apples">Apples</option>
        <option value="oranges">Oranges</option>
        <option value="bananas">Bananas</option>
      </select>
    </div>

  </div>

  <div class="buttonBig">
    <app-button-big>Criar Lista</app-button-big>
  </div>


</ion-content>
