@import "../../global.scss";

*{
    --padding-start: 0px !important;
}

.forward{
    padding-left:  5%;
    padding-top: 5%;
}

.imageIlustrator{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}

.inputs{
    padding-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

input{
    margin: 10px;
    width: 183px;
    height: 55px;
    border-radius: var(--Space-8, 8px);
    border: var(--Space-space-025, 2px) solid $N300;
}

ion-input{
    margin: 10px;
    width: 183px;
    height: 55px;
    border-radius: var(--Space-8, 8px);
    border: var(--Space-space-025, 2px) solid $N300;
}

.input-container {
    position: relative;
}
  
textarea{
    width: 183px;
    height: 55px;
    border-radius: var(--Space-8, 8px);
    border: var(--Space-space-025, 2px) solid $N300;
    padding-top:  5%;
    padding-bottom:  5%;
}

.description{
    width: 382px;
    min-height: 80px;
    font-size: 14px; 
    font-weight: 600;
    margin: 10px;
}

::placeholder {
    color: $N800D;
    font-size: 12px;
    font-weight: 600;
    position: absolute; 
    top: 10px; 
    left: 10px;
    text-align: top;
}

option{
    color: $N800D;
    font-size: 12px;
    font-weight: 600;
    position: absolute; 
    top: 10px; 
    left: 10px;
    text-align: top;
}

.counter {
    margin-right: 10px;
    text-align-last: right;
    font-size: 12px;
    color: #888;
}

.buttonBig{
    padding-top: 8%;
    display: flex;
    justify-content: center;
}