<!-- <div class="card-price">
  <h1>R${{priceItem}}</h1>
</div>

<ion-card>
  <p class="itemName">{{item}}</p>

  <p>{{nameItem}}</p>

  <div class="comparation-scale">
    <div class="comparation-item">

    </div>
  </div>
</ion-card> -->

<div class="card-price">
  <span>R$<b>{{priceItem}}</b></span>
</div>

<ion-card>


  <div class="top">
    <p class="itemCategory">{{itemCategory}}</p>
  </div>

  <div class="content">
    <p class="nameItem">{{nameItem}}</p>
  </div>

  <div class="scale">
    <div class="comparation-scale">
      <div class="comparation-item">
        <span>{{firstItemComparation}}</span>
      </div>
      <span>{{secondItemComparation}}</span>
    </div>
  </div>

</ion-card>