@import "../../../../global.scss";

:host{
    *{
        
    }
    ion-card {
        background: #{$brand1};
        border-radius: #{$spaceLarge};
        position: relative;
        padding: 20px;
        overflow: visible;
    }
    
    .card-price {
        position: absolute;
        top: -20px; /* Ajuste para que a div sobreponha um pouco a ion-card */
        right: -20px; /* Ajuste para que a div sobreponha um pouco a ion-card */
        left: -20px; /* Ajuste para que a div sobreponha um pouco a ion-card */
        display: flex;
        justify-content: center;
        align-items: center;
        color: #{$brand2};
        background: #{$N200};
        border-radius: 9.6px;
        z-index: 1;
        /* Defina um tamanho menor para o elemento filho */
        width: calc(100% + 40px); /* Ajuste conforme necessário */
        height: 54px; /* Altura desejada para o elemento filho */
    }
    
    .itemCategory{
        text-align: end;
    }
    p{
        color: #{$N0};
    }
}

