<ion-content>
  <div class="header">
    <div class="user-greeting">
      <p>
        Seja Bem-vindo <br />
        <b>{{ userName }}</b>
      </p>
    </div>
    <div class="user">
      <img src="./../../assets/svg/character.svg" alt="" />
    </div>
  </div>

  <div class="content">

    <div class="input-button">
      <input type="text" placeholder="Pesquisa..." (input)="onSearchInput($event)">
      <button type="button" (click)="clearSearchText()">Buscar</button>
    </div>

    <div *ngIf="!searchText">
      <h1>Listas Recentes</h1>
      <div class="lists scroll-horizontal">
        <app-card-box [routerLink]="['/tabs/tab3']" action="Criar" description="Adicionar uma nova lista" (click)="setOpen(true)"></app-card-box>
        <ng-container *ngFor="let list of recentLists; let i = index">
          <app-card-list-recent
            name="list"
            class="card-{{ i % 2 === 0 ? 'blue' : 'orange' }}"
            [category]="list.ds_categoria"
            [name]="list.nm_lista"
            [description]="list.ds_lista"
            [routerLink]="['/lists-items', list.id_lista]">
          </app-card-list-recent>
        </ng-container>
      </div>

      <div class="title-filter">
        <h1>Todos as listas</h1>
      </div>

      <div class="all-lists">
        <app-card-list-search
          *ngFor="let list of lists"
          name="list"
          [title]="list.nm_lista"
          [description]="list.ds_lista"
          [routerLink]="['/lists-items', list.id_lista]">
        </app-card-list-search>
      </div>
    </div>

    <div *ngIf="searchText && filteredLists.length > 0" class="all-lists slide-up-animation">
      <app-card-list-search
        *ngFor="let list of filteredLists"
        name="list"
        [title]="list.nm_lista"
        [description]="list.ds_lista"
        [routerLink]="['/lists-items', list.id_lista]">
      </app-card-list-search>
    </div>

    <div *ngIf="searchText && filteredLists.length === 0" class="no-results">
      <p>Nenhuma lista encontrada.</p>
    </div>
  </div>
</ion-content>
