<div class="header">
  <div class="user-greeting">
    <p>Boa noite! <br>
    <b>{{ userName }}</b></p>
  </div>
  <div class="user">
    <img src="./../../assets/svg/character.svg" alt="">
  </div>
</div>

<!-- A tag ion-content só deve envolver tudo que está dentro do corpo da página -->
<ion-content>
  <div class="content">

    <div class="input-button">
      <input type="text" placeholder="Pesquisa..." (input)="onSearchInput($event)">
      <button type="button" (click)="clearSearchText()">Buscar</button>
    </div>

    <div *ngIf="!searchText">
      <h1>Listas Recentes</h1>
      <div class="lists scroll-horizontal">
        <app-card-box [routerLink]="['/tabs/tab3']" action="Criar" description="Adicionar uma nova lista" (click)="setOpen(true)"></app-card-box>

        <!-- Componentes adicionais -->
        <!-- <app-card-list-recent 
          class="card-blue list"
          category="Comida"
          name="Guloseimas"
          description="Doces pros irmãos"
          [routerLink]="['/lists-itens-screen']">
        </app-card-list-recent> -->

        <app-card-list-recent
         *ngFor="let list of recentLists"
          name="list"
          class="card-blue list"
          [category]="list.ds_categoria"
          [name]="list.nm_lista"
          [description]="list.ds_lista"
          [routerLink]="['/lists-items', list.id_lista]">
        </app-card-list-recent>
      </div>

      <div class="title-filter">
        <h1>Todos as listas</h1>
        <img src="./../../assets/svg/filter.svg" alt="">
      </div>
    </div>

    <div class="all-lists" [ngClass]="{'slide-up-animation': searchText}">
      <!-- <app-card-list-search
        *ngFor="let item of itemsToShow"
        [title]="item.title"
        [description]="item.description"
        [routerLink]="['/lists-itens-screen']">
      </app-card-list-search> -->

      <app-card-list-search
      *ngFor="let list of lists"
          name="list"
          [title]="list.nm_lista"
          [description]="list.ds_lista"
          [routerLink]="['/lists-items', list.id_lista]">
      </app-card-list-search>
    </div>

  </div>
</ion-content>
