<ion-content>
  <div class="content">

    <div class="input-button">
      <input type="text" placeholder="Pesquisa..." (input)="onSearchInput($event)">
      <button type="button" (click)="clearSearchText()">Buscar</button>
    </div>

    <div *ngIf="!searchText">
      <h1>Listas Recentes</h1>
      <div class="lists scroll-horizontal">
        <app-card-box [routerLink]="['/tabs/tab3']" action="Criar" description="Adicionar uma nova lista" (click)="setOpen(true)"></app-card-box>
        <app-card-list-recent
          *ngFor="let list of recentLists"
          name="list"
          class="card-blue list"
          [category]="list.ds_categoria"
          [name]="list.nm_lista"
          [description]="list.ds_lista"
          [routerLink]="['/lists-items', list.id_lista]">
        </app-card-list-recent>
      </div>

      <div class="title-filter">
        <h1>Todos as listas</h1>
        <img src="./../../assets/svg/filter.svg" alt="">
      </div>

      <div class="all-lists">
        <app-card-list-search
          *ngFor="let list of lists"
          name="list"
          [title]="list.nm_lista"
          [description]="list.ds_lista"
          [routerLink]="['/lists-items', list.id_lista]">
        </app-card-list-search>
      </div>
    </div>

    <div *ngIf="searchText && filteredLists.length > 0" class="all-lists slide-up-animation">
      <app-card-list-search
        *ngFor="let list of filteredLists"
        name="list"
        [title]="list.nm_lista"
        [description]="list.ds_lista"
        [routerLink]="['/lists-items', list.id_lista]">
      </app-card-list-search>
    </div>

    <div *ngIf="searchText && filteredLists.length === 0" class="no-results">
      <p>Nenhuma lista encontrada.</p>
    </div>
  </div>
</ion-content>
