.buttonSocial{
    display: flex;
    width: 183px;
    padding: 12px 40px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    border: 1.5px solid var(--Color-Info-B300, #85B8FF);
    background-color: #fff;
}

.buttonText{
    color: var(--Normal0, #161A1D);
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.4px; 
}