<input
  class="inputNormal"
  [type]="type"
  [placeholder]="placeholder"
  [name]="name"
  [(ngModel)]="inputValue"
  (ngModelChange)="onInputChange($event)"
  (input)="updateCounter($event)"
  [maxlength]="maxlength"
  [readonly]="readOnly"
/>
<div [class.counter]="type === 'password'"></div>
<span *ngIf="type === 'password' && passwordStrengthMessage" class="passwordStrength">{{ passwordStrengthMessage }}</span>
<div *ngIf="type === 'password' && passwordRequirements.length > 0" class="password-requirements-container">
  <div class="password-requirements">
    <p *ngFor="let requirement of passwordRequirements" style="margin: 0 !important;">{{ requirement }}</p>
  </div>
</div>
