@import "../../global.scss";

.body{
    background: $brand1;
    height: -webkit-fill-available;
}

.box{
    width: auto;
    height: 615px;
    flex-shrink: 0;
    border-radius: 48px 48px 0px 0px;
    background: $N0;
    position:fixed;
    justify-content: end;
    left: 0;
    right: 0;
    z-index: 2;
    bottom: 0;
    text-align: center;
}


.boxSombra1{
    margin: 0px 24px 0px 24px;
    height: 560.7px;
    flex-shrink: 0;
    border-radius: 43.2px 43.2px 0px 0px;
    opacity: 0.5;
    background: $N100;
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 80px;
}

h1{
    color: $N100;
    text-align: center;
    font-family: 'Poppins';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 35.2px; 
    padding-top: 100px;
    margin: 0;
}

.peopleList{
    display: flex;
    margin: auto;
    width: 300px;
    height: auto;
    left: 0;
    right: 0;
}

span{
    color: $N400;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    left: 100;
    right: 100;
}

p{
    color: $N300D;
    text-align: center;
    font-family:  'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    margin: 0;
    margin: 35px 40px 0px 40px;
}

app-button-medium{
    margin:  auto;
    left:  0;
    right: 0;
}

.container {
    display: flex;
    margin-top: 35px;
}

.containerHeader{
    display: flex;
    justify-content: center;
    align-items: center;
}

.div1{
    width: 36px;
    height: 13.2px;
    border-radius: 19.2px;
    border: var(--Space-space-025, 2px) solid #{$N0};
}

.div2{
    width: 13.2px;
    height: 13.2px;
    border-radius: 19.2px;
    border: var(--Space-space-025, 2px) solid #{$N400};
}

.div3{
    width: 13.2px;
    height: 13.2px;
    border-radius: 19.2px;
    border: var(--Space-space-025, 2px) solid #{$N400};
}

.bolinhas{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}