<ion-content>
  <img class="forward" src="../../assets/svg/arrow_forward_ios.svg" alt="seta para voltar" [routerLink]="['/tabs/tab2']">
  <div  *ngIf="lista" class="content">
    <div class="card-list-all">
      <app-card-list-all
      
        [limite]="lista.rd_lista"
        [nomeLista]="lista.nm_lista" 
        [categoriaLista]="lista.ds_categoria" 
        gasto="39,35" 
        [dataLista]="lista.dt_criacao">
      </app-card-list-all>
      <button [routerLink]="['/update-list', lista.id_lista]" class="btn-edit">
        <img src="../../../../assets/svg/edit.svg" alt="">
      </button>
    </div>

    <div class="title-filter">
      <h1>Todos os itens</h1>
      <img src="./../../assets/svg/filter.svg" alt="">
    </div>

    <div class="itens-div">
      <app-card-box action="Criar" description="Adicionar um novo item" [routerLink]="['/create-item', lista.id_lista]"></app-card-box>

      <app-card-item 
      *ngFor="let item of items" 
      [price]="item.vl_uni" 
      [itemName]="item.nm_item" 
      [description]="item.ds_item" 
      [routerLink]="['/select-item',lista.id_lista, item.id_item]"
      ></app-card-item>
    </div>
  </div>
</ion-content>
