:host{
    .content{
        padding: 16px 24px ;

    }
    .title-filter{
        display: flex;
        justify-content: space-between;
        margin: 7% 0 5% 0
    } 
    .itens-div{
        display: flex;
        align-items: start;
    }
}