<ion-content>
  <img class="forward" src="../../assets/svg/arrow_forward_ios.svg" alt="seta para voltar" [routerLink]="['/tabs/tab2']">
  <div class="content">
    <div class="card-list-all">
      <app-card-list-all
      *ngIf="lista"
        [limite]="lista.rd_lista"
        [nomeLista]="lista.nm_lista" 
        [categoriaLista]="lista.ds_categoria" 
        gasto="39,35" 
        [dataLista]="lista.dt_criacao">
      </app-card-list-all>
      <button class="btn-edit">
        <img src="../../../../assets/svg/edit.svg" alt="">
      </button>
    </div>

    <div class="title-filter">
      <h1>Todos os itens</h1>
      <img src="./../../assets/svg/filter.svg" alt="">
    </div>

    <div class="itens-div">
      <app-card-box action="Criar" description="Adicionar um novo item" [routerLink]="['/create-item']"></app-card-box>

      <app-card-item *ngFor="let item of items" [price]="item.price" [itemName]="item.name" [description]="item.description" [routerLink]="['/update-item', item.id]" [imagePath]="item.imagePath"></app-card-item>
    </div>
  </div>
</ion-content>
