<ion-content [fullscreen]="true" scrollY="false">
  <img class="forward" src="../../assets/svg/arrow_forward_ios.svg" [routerLink]="['/list-adm-community', userId, communityId]" alt="">

  <div class="imageIlustrator">
    <img width="200px" height="200px" src="../../assets/svg/defaultImgItem.svg" alt="">
  </div>

  <form (ngSubmit)="createItemCommunity($event)" [formGroup]="insertForm" class="inputs">

    <input formControlName="name" name="name" [(ngModel)]="name" placeholder="Nome" class="inputName">
    
    <ion-item class="item">
      <input formControlName="measure_quantity" type="number" class="inputText" name="measure_quantity" [(ngModel)]="measure_quantity" placeholder="Medida" >
      <ion-select formControlName="medidaSelecionada" [(ngModel)]="medidaSelecionada" name="measures" style="position: absolute; margin-left: 140px;" >
        <ion-select-option *ngFor="let measure of measure" [value]="measure.id_medida">{{ measure.ds_medida }}</ion-select-option>
      </ion-select>
    </ion-item>
    
    <input formControlName="quantity" name="quantity" [(ngModel)]="quantity" placeholder="Quantidade" class="inputText" type="number">

    
  <div class="buttonBig">
    <app-button-big [disabled]="insertForm.invalid">Adicionar item</app-button-big>
  </div>
  </form>

</ion-content>
