@import "../../global.scss";

h1{
    color: var(--Normal0, #161A1D);
    text-align: left;
    font-family: 'Poppins';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 35.2px;
    padding-top: 5%;
}

.content{
    margin: 40px;
}


span{
    color: var(--Color-inverted-inverted500, #8590A2);
    text-align: center;
    font-family: 'Poppins';
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h3{
    margin: 0;
}

.buttonArrow{
    margin-left: auto;
}

.containerButton{
    display: flex;
}

.row{
    margin-top: 60px;
    margin-bottom: 60px;
}

.rowPrimary{
    margin-top: 40px;
}
.content{
    padding: 24px 16px;
}

img{
    border-radius: 112.5px;
    width: 112.5px;
    height: 112.5px;
    flex-shrink: 0;
    justify-content: center;
}

.inputText::placeholder{
    position: absolute; 
    top: 10px; 
    left: 10px;
    text-align: top;
}

::placeholder {
    color: $N800D;
    font-family: 'Poppins';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; 
}

input{
    margin: 10px;
    width: 183px;
    height: 55px;
    flex-shrink: 0;
    border-radius: var(--Space-8, 8px);
    border: var(--Space-space-025, 2px) solid $N300;
    background: transparent;
}

.row {
    text-align: center; /* Centralizar os elementos na linha */
}

.input-wrapper,
.button-wrapper {
    display: inline-block; /* Garante que os elementos fiquem na mesma linha */
    vertical-align: top; /* Alinha os elementos verticalmente ao topo */
}

.inputText {
    width: 183px;
    height: 55px;
    border-radius: 8px;
    border: 2px solid #ccc;
    background: transparent;
}

.input-wrapper {
    margin-right: 10px; /* Espaçamento entre o input e o botão */
}
