<ion-content [fullscreen]="true">
  <div class="content">
    <h1>Seu Perfil</h1>
    <ion-grid fixed>
      <ion-row>
        <ion-col>  
          <img src="./../../assets/svg/avatar.svg" alt="">
        </ion-col>
        <ion-col>
           <span>selecione um avatar</span>
          </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-grid >
    <ion-row>
        <ion-col>
          <app-input placeholder="Nome" class="input-config-name">Nome</app-input>
        </ion-col>
      <ion-col>
            <app-button-medium class="button-medium-config">Assinatura</app-button-medium>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <app-input placeholder="Email" class="input-config-email">Nome</app-input>
      </ion-col>
    </ion-row>

    <ion-row class="row">
      <ion-col>  
        <h3>Alterar Senha</h3>
      </ion-col>
      <ion-col>
        <div class="containerButton">
          <app-button-arrow [imagePath]="'./../../assets/png/arrow_forward_white.png'" class="buttonArrow"></app-button-arrow>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <p>Sair da conta</p>
    </ion-row>

    <ion-row>
      <app-button-medium class="button-medium-save">Continuar</app-button-medium>
    </ion-row>

  

  </ion-grid>


  </div>

</ion-content>
