@import "../../global.scss";

h1{
    color: var(--Normal0, #161A1D);
    text-align: left;
    font-family: 'Poppins';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    padding-top: 5%;
}

.content{
    margin: 20px;
}

span{
    color: var(--Color-inverted-inverted500, #8590A2);
    text-align: center;
    font-family: 'Poppins';
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h3{
    color: var(--Normal0, #161A1D);
    text-align: center;
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; 
}

.buttonArrow{
    margin-left: auto;
}

.containerButton{
    display: flex;
}


.rowPrimary{
    margin-top: 40px;
}


img{
    border-radius: 112.5px;
    width: 112.5px;
    height: 112.5px;
    flex-shrink: 0;
    justify-content: center;
}

.inputText::placeholder{
    position: absolute; 
    top: 10px; 
    left: 10px;
    text-align: top;
}

::placeholder {
    color: $N800D;
    font-family: 'Poppins';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; 
}


.inputText {
    width: 183px;
    height: 55px;
    border-radius: 8px;
    border: 2px solid #ccc;
    background: transparent;
}

p{
    color: var(--Color-Danger-R500, #DA6262);
    text-align: center;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.6px; 
    text-decoration-line: underline;
}