@import "../../global.scss";

h1{
    color: var(--Normal0, #161A1D);
    text-align: left;
    font-family: 'Poppins';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    padding-top: 0;
}
.content{
    padding: 24px;
}

.align-center {
  align-items: center;
  display: flex;
}
.input-config-email{
    width: 100%;
}
.alter-pass{
    display: flex;
    justify-content: end;
}

span{
    color: var(--Color-inverted-inverted500, #8590A2);
    font-family: 'Poppins';
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

h3{
    color: var(--Normal0, #161A1D);
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}

.containerButton{
    display: flex;
    margin-top: center;
    margin-bottom: center;
}

img{
    border-radius: 112.5px;
    width: 112.5px;
    height: 112.5px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.inputText::placeholder{
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: top;
}

::placeholder {
    color: $N800D;
    font-family: 'Poppins';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
}


.inputText {
    width: 100%;
    height: 55px;
    border-radius: 8px;
    border: 2px solid #ccc;
    background: transparent;
}

p{
    color: var(--Color-Danger-R500, #DA6262);
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.6px;
    text-decoration-line: underline;
    padding-top: 10%;
    margin-left: 0.75rem;
}

.closeImg{
    width: 24px;
    height: 24px;
    margin: 0;
}

ion-grid{
    padding-top: 10%;
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 20px;
}

.infoPerfil{
    padding-top: 10%;
}

.logoutAccount{
    opacity: 0.6;
    text-decoration-line: none;
}

.plan-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000; 
    background-color: rgba(0, 0, 0, 0.5);
}
.buttonBig{
    padding-top: 8%;
    display: flex;
    justify-content: center;
}