
.cardFundo{
    width: 330px;
    height: 420px;
    flex-shrink: 0;
    border-radius: var(--Space-28, 28px) var(--Space-28, 28px) 0px 0px;
    opacity: 0.2;
    background: var(--Color-inverted-inverted0, #FFF);
    /* Glassmorphism */
    backdrop-filter: blur(10px);
}