<!-- <ion-header [translucent]="true">
  <div class="user-greeting">
    <h6>Boa noite!</h6>
    <h6><b>Álvaro Oliveira</b></h6>
  </div>
  <div class="user">
    <img src="https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg" alt="">
  </div>
</ion-header> -->

<ion-content>
  <div class="lists">
    <div class="recent-lists">
      <h6>Listas recentes</h6>
      <div class="see-more">
        <span><a href="">Ver todas</a></span>
        <img src="./../../assets/svg/arrow_forward_home.svg" alt="">
      </div>
    </div>

    <div class="lists-created">
      <app-card-list class="card-blue"></app-card-list>
      <app-card-list class="card-orange"></app-card-list>
      <app-card-list class="card-blue"></app-card-list>  
    </div>
  </div>

  <div class="card-banners">
    <app-card-banner class="card-banner-yellow" titulo="Conheça os nossos Planos" conteudo="E tenha acesso a todas as nossas funcionalidades, e o melhor sem limite." [imagePath]="'./../../assets/svg/heart.svg'"></app-card-banner>
    <app-card-banner class="card-banner-blue"  titulo="Oferta Especial do plano anual!" conteudo="Garanta até 20% de desconto em qualquer planos." [imagePath]="'./../../assets/svg/heart.svg'"></app-card-banner>
  </div>

  <div class="card-icons">
    <app-card-icon-home></app-card-icon-home>
  </div>

  <div class="card-communities">
    <app-card-home-community title="Mercado" content="Atacadista"></app-card-home-community>
    <app-card-home-community title="Mercado" content="Atacadista"></app-card-home-community>
  </div>


</ion-content>
