<ion-content [fullscreen]="true" scrollY="false">
  <img class="forward" src="../../assets/svg/arrow_forward_ios.svg" alt="" [routerLink]="['/comunnity-lists-item', userId, communityId,listId]">

  <div class="imageIlustrator">
    <img width="200px" height="200px" src="../../assets/svg/defaultImgItem.svg" alt="">
  </div>

  <form *ngIf="item" (ngSubmit)="updateItem($event)" class="inputs">
    <input placeholder="Nome" [value]="item.nm_item" [(ngModel)]="item.nm_item" name="nm_item" class="inputName" disabled>
    <input placeholder="Quantidade" class="inputText" type="number" disabled>
    <input [(ngModel)]="formattedPrice"  name="vl_uni" placeholder="Valor Unitario" class="inputText" (input)="formatCurrency($event)">
    
    <div class="buttonBig">
      <app-button-big>Salvar Alterações</app-button-big>
    </div>
  </form>

  <div class="options">
    <a style="text-decoration: none;" [routerLink]="['/comunnity-lists-item', userId, communityId,listId]" class="cancelar">Cancelar</a>
  </div>
</ion-content>

