<ion-content>
  <div class="body">
    <div class="containerHeader">    
      <h1>Gestão Financeira</h1>
    </div>

    <div class="bolinhas">
      <div class="div2"></div>
      <div class="div1"></div>
      <div class="div3"></div>
    </div>
    <div class="boxSombra1">
    </div>
  <div class="box">
    <img src="../../assets/png/people-computer.png" alt="" class="peopleList">
    <span>Na Volta Eu Compro</span>
    <p>Domine cada centavo gasto e fortaleça sua estabilidade</p>
    <div class="container">   
      <app-button-medium>Continuar</app-button-medium>
    </div>

  </div>


  </div>

</ion-content>