.body{
    background: var(--Color-brand1, #006EFF);
    width: 430px;
    height: 932px;
}

.boxSombra{
    width: 387px;
    height: 560.7px;
    flex-shrink: 0;
    border-radius: 43.2px 43.2px 0px 0px;
    opacity: 0.5;
    background: var(--Color-inverted-inverted100, #F7F8F9);
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 70px;
    margin: auto;

 
}

.box{
    width: 430px;
    height: 615px;
    flex-shrink: 0;
    border-radius: 48px 48px 0px 0px;
    background: var(--Color-inverted-inverted0, #FFF);
    position:fixed;
    justify-content: end;
    z-index: 2;
    bottom: 0;

}

h1{
    color: var(--Color-inverted-inverted0, #FFF);
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    margin: 0;
    font-family: 'Poppins';
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

p{
    color: var(--Color-Neutral-Dark-N300, #2C333A);
    font-family: 'Poppins';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 35.2px; /* 110% */
    text-align: center;
    margin: 0;
    margin-top: 25px;
}

span{
    color: var(--Color-Neutral-Dark-N700, #8C9BAB);
    font-family: 'Poppins';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 133.333% */
    text-align: center;
    left: 130;
    right: 100;
    margin: 50px;
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.inputName, .inputEmail, .inputTitle{
    margin: 30px 23px 10px 23px;
}

.buttonCreate{
    margin: 100px;
}

hr{
    width: 133px;
    height: 0.5px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--Color-inverted-inverted300, #DCDFE4);
}

.spanTwo{
    margin: 130px;
}

ion-toolbar{
    background: var(--Color-brand1, #006EFF);
}

.buttonSmall{
    margin-top: 0;
    float: right;
}

.arrow{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.imgGoogle{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.imgFacebook{
    width: 24px;
    height: 24px;
    flex-shrink: 0;

}

.buttonSocial {
    display: flex;
    gap: 10px; 
    margin: 15px;
  
}


  