<ion-content scrollY="false" >
  <div class="body">

    <div class="header">
      <img src="../../assets/svg/arrow.svg" alt="" class="arrow" [routerLink]="['/load-screen3']">
      <div>
        <span class="span-top">Não possui uma conta?</span>
        <app-button-small class="buttonSmall"  [routerLink]="['/create-account']">Cadastrar</app-button-small>
      </div>
    </div>

    <h1>Na Volta Eu Compro</h1>
    <div class="boxSombra"></div>

    <div class="box">
      <p>Bem-vindo Novamente</p>
      <span>Insira seus dados abaixo e volte a se organizar</span>
      <form (ngSubmit)="loginUser($event)">
        <div class="input">
          <app-input type="email" placeholder="E-mail" name="email" [(ngModel)]="email" required />
          <app-input type="password" placeholder="Senha" name="password" [(ngModel)]="password" required />
        </div>
        <app-button-big type="submit">Entrar</app-button-big>
      </form>

      <div class="line">
        <div ></div>
        <span>Ou entrar usando</span>
        <div ></div>
      </div>

      <div class="buttonSocial">
        <app-button-social [imageSocial]="'../../assets/svg/google.svg'" texto="Google" [routerLink]="['/tabs/tab1']"></app-button-social>
        <app-button-social [imageSocial]="'../../assets/svg/facebook.svg'" texto="Facebook" [routerLink]="['/tabs/tab1']"></app-button-social>
      </div>

    </div>
  </div>
</ion-content>
