:host{
    ion-card{
            width: 320px;
            height: 150px;
            border-radius: 16px;
            display: flex;
            padding: 10px;
        }
    span{
        font-size: 8px;
        line-height: 12px;
    }
    .card-btn{
        font-size: 8px;
        padding: 5px;
        width: 114px;
        height: 24px;
        border-radius: 4px!important;
        gap: 8px
    }
    h6{
        font-size: 20px;
    }
    .card-image{
        display: flex;
        justify-content: center;
    }

}
:host.card-banner-orage ion-card{
    background: #006EFF;
    color: white;
}
:host.card-banner-orage button{
    background: #ff8400;
    color: white;
}
:host.card-banner-blue ion-card{
    background: #FFF7D6;
    color: black;
}
:host.card-banner-blue button{
    background: #006EFF;
    color: white;
}


// ion-card{
//     width: 320px;
//     height: 150px;
//     border-radius: 16px;
//     display: flex;
//     padding: 10px;
//     background: #FFF7D6;
    
// }
// span{
//     font-size: 8px;
//     line-height: 12px;
// }
// .card-btn{
//     font-size: 8px;
//     padding: 5px;
//     width: 114px;
//     height: 24px;
//     border-radius: 4px!important;
//     gap: 8px
// }
// h6{
//     font-size: 20px;
// }
// .card-image{
//     display: flex;
//     justify-content: center;
// }
// .card-banner-blue{
//     background: #006EFF;
// }