:host{
    .header{
        box-shadow: none;
        display: flex;
        justify-content: space-between;
        height: 50px;
        margin: 16px 24px ;
        align-items: center;
        align-items: center;
    }
    .content{
        margin: 24px!important;
    }
    .user img {
        width: 50px;
        height: 50px;
    }
    p {
        font-size: 12px!important;
        line-height: 16px;
    }
    span{
        font-size: 8px;
    }
    img{
        width: 11px;
        height: 11px;
    }
    h6{
        font-size: 20px;
    }
    .recent-lists,
    .see-more{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .lists-created{
        padding: 10px 0px ;
        display: flex;
        align-items: center;
    }
    span a{
        color: var(--Normal0, #161A1D);
        text-decoration: none;
        padding: 0 8px 0 0;

    }
    .card-banners,
    .card-communities{
        padding: 15px 0px;
        display: flex;
    }
    
}