<ion-card class="cardLista">
  <ion-card-header>
    <h5>{{title}}</h5>
    <div class="ctg-lista">
      <span>{{category}}</span>
      <div class="visu-gastos">
        <h5>R$888/R$999</h5>
        <button><img src="./../../../../assets/svg/eye.svg" alt=""></button>
      </div>
    </div>
  </ion-card-header>
  <ion-card-content>
    <div class="dt-lista">
      <span>{{date}}</span>
      <button><img src="./../../../../assets/svg/arrow_forward_home.svg" alt=""></button>
    </div>
  </ion-card-content>
</ion-card>