<ion-content scrollY="false">
<div class="content">
  <img class="closeImg" src="./../../assets/svg/close.svg" alt="fechar aba do perfil"  [routerLink]="['/acount']">

  <h1>Alterar a senha</h1>

  
    <form class="position">
      <app-input type="password" name="password" placeholder="Senha atual" class="input-password"  [(ngModel)]="password"></app-input>
      <app-input type="password" name="newPassword"placeholder="Nova senha" class="input-password"  [(ngModel)]="newPassword"></app-input>
      <app-input type="password" name="newPassword"placeholder="Confirme nova senha" class="input-password" [(ngModel)]="newPassword"></app-input>
    </form>


  <div class="buttonSave">
    <app-button-big type="submit" class="button-big-save">Salvar</app-button-big>
  </div>


</div>
</ion-content>
