.content{
    margin: 20px;
}

.position{
    display: block;

}

h1{
    color: var(--Normal0, #161A1D);
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; 
    margin-bottom: 63px;
    left: 10px;
    padding-top:  20px;
}

.buttonSave{
    margin-left: auto;
    margin-right: auto;
}
.input-password{
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}