<ion-content scrollY="false">
<div class="content">
  <img class="closeImg" src="./../../assets/svg/close.svg" alt="fechar aba do perfil"  [routerLink]="['/acount']">

  <h1>Alterar a senha</h1>


  <form (ngSubmit)="changePassword($event)" name="passwordForm" class="position">
    <ion-input
      type="password"
      name="currentPassword"
      placeholder="Senha atual"
      class="input-password"
      [(ngModel)]="currentPassword"
    ></ion-input>
    <ion-input
      type="password"
      name="newPassword"
      placeholder="Nova senha"
      class="input-password"
      [(ngModel)]="newPassword"
    ></ion-input>
    <ion-input
      type="password"
      name="confirmNewPassword"
      placeholder="Confirme nova senha"
      class="input-password"
      [(ngModel)]="confirmNewPassword"
    ></ion-input>

    <div class="buttonSave">
      <app-button-big type="submit" class="button-big-save">Salvar</app-button-big>
    </div>
  </form>

</div>
</ion-content>
