<ion-content [fullscreen]="true">
  <div class="content">
      <img class="forward" src="../../assets/svg/arrow_forward_ios.svg" alt="seta para voltar" [routerLink]="['/ajuda']">

    <div class="container">

      <h1>Política de Cookies</h1>

      <div class="paragraph">
        <h4>1. O que são Cookies?</h4>
        <p>
          Cookies são pequenos arquivos de texto armazenados no seu dispositivo quando você acessa um site ou usa um aplicativo. Eles ajudam a personalizar a sua experiência, lembrar das suas preferências e melhorar o desempenho do site ou aplicativo.
        </p>
      </div>

      <div class="paragraph">
        <h4>2. Como Utilizamos Cookies</h4>
        <p>
          Usamos cookies para várias finalidades, incluindo:
        </p>
          <ul>
            <li>Autenticação: Para reconhecer quando você faz login e manter sua sessão ativa.</li>
            <li>Personalização: Para lembrar suas preferências, como idioma ou layout.</li>
            <li>Análise: Para entender como os usuários interagem com nosso aplicativo e melhorar sua experiência.</li>
            <li>Marketing: Para fornecer anúncios relevantes com base no seu uso e interesses.</li>
          </ul>

      </div>

      <div class="paragraph">
        <h4>3. Tipos de Cookies</h4>
        <p>
          Podemos usar diferentes tipos de cookies, como:
        </p>
          <ul>
            <li>Cookies Essenciais: Necessários para o funcionamento do aplicativo.</li>
            <li>Cookies de Desempenho: Usados para medir e melhorar o desempenho do aplicativo.</li>
            <li>Cookies de Funcionalidade: Para lembrar das suas escolhas e personalizar sua experiência.</li>
            <li>Cookies de Publicidade: Para entregar anúncios mais relevantes para você.</li>
          </ul>

      </div>

      <div class="paragraph">
        <h4>4. Consentimento para o Uso de Cookies</h4>
        <p>
          Ao usar nosso aplicativo, você concorda com o uso de cookies conforme descrito nesta política. Alguns cookies exigem seu consentimento explícito, enquanto outros são necessários para o funcionamento do aplicativo.
        </p>
      </div>

      <div class="paragraph">
        <h4>5. Alterações nesta Política de Cookies</h4>
        <p>
          Podemos, ocasionalmente, lançar atualizações para melhorar o aplicativo ou corrigir problemas. Você concorda em aceitar essas atualizações para garantir a funcionalidade contínua do aplicativo.
        </p>
      </div>

      <div class="paragraph">
        <h4>6. Contato</h4>
        <p>
          Se você tiver dúvidas ou preocupações sobre esta política de cookies ou privacidade em geral, entre em contato conosco em hello&#64;nvec.com.
        </p>
      </div>

    </div>
  </div>
</ion-content>
