<ion-content [fullscreen]="true">
  <img  [routerLink]="['/community-lists-sobre', communityId]" class="forward" src="../../assets/svg/arrow_forward_ios.svg" alt="seta para voltar">
  <div  class="content">

      <div *ngIf="usersLists" class="list">
        <div class="user-price">
          <div class="name-address">
            <h5 class="black-text">{{usersLists.nm_usuario}}</h5>
            <span [routerLink]="['/update-item-comunnity', userId, communityId, usersLists.id_lista_variavel]"
            class="grey-text">Local: local da lista</span>
            
          </div>
          <div class="totalList">
            <h3 class="yellow-text">R$ <b class="yellow-text">{{usersLists.valor_total}}</b></h3>
          </div>
        </div>
      </div>

      <hr>
    <div class="itens-div">
      <app-card-item-community 
      *ngFor="let list of list"
      [itemName]="list.nm_item"
      [itemId]="list.id_item_variavel"
      [userId]="userId"
      [imagePath]="'../../../../assets/svg/defaultImgItem.svg'"
      (click)="navigationUpdate(list.id_usuario,communityId,list.id_lista_variavel,list.id_item_variavel)"
    ></app-card-item-community>
    
    
      </div>
  </div>
</ion-content>
