/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif
}

//PRINCIPAL * background/texto/grafico e etc
$cor-principal: #006EFF;
$cor-secundaria: #FFAC4A;  //Segunda que "mais aparece" 
$cor-terciaria: #59BF85; //Terceira que "mais aparece" 
$cor-quartenaria: #CD5151; //Quarta que "mais aparece" 

//Cores neutras
$branco: #fff5fa;
$preto: #121212;
$cinza-input-subtitulo:  #9FADBC;

//Outline Components
$cor-search-outline: #74B0FF;
$cor-btn-input-outline: #DCDFE4;

//Cor dos cards (no final é a cor)
$cor-card-azul-opaco: #F1F2F4;
$cor-card-amarelo: #FFF7D6;
$cor-card-principal: #006EFF;


//TEXTOS
$headeH1:56px;
$headeH2:48px;
$headeH3:40px;
$headeH4:32px;
$headeH5:24px;
$headeH6:20px;

$textSmalling: 8px;
$textSmaller: 12px;
$textSmallerBold: 12px; 
$textSmall: 14px;
$textSmallBold: 14px;
$textNormal: 16px;
$textNormalBold: 16px;
$textMedium: 18px;
$textMediumBold: 18px;
$textLarge: 20px;
$textLargeBold: 20px;
$textExtraLarge: 24px;
$textExtraLargeBold: 24px;
$textBig: 35px;
$textBigBold: 35px;

//BORDAS

//EFECTS
$dropShadow: 0px 4px 15px 0px rgba(9, 44, 76, 0.40);
$innerShadow: 0px 4px 15px 0px rgba(9, 44, 76, 0.40) inset;
$glassEffect: blur(10px);