/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif
}

/* //PRINCIPAL * background/texto/grafico e etc
$cor-principal: #006EFF;
$cor-secundaria: #FFAC4A;  //Segunda que "mais aparece" 
$cor-terciaria: #59BF85; //Terceira que "mais aparece" 
$cor-quartenaria: #CD5151; //Quarta que "mais aparece" 

//Cores neutras
$branco: #fff5fa;
$preto: #121212;
$cinza-input-subtitulo:  #9FADBC;

//Outline Components
$cor-search-outline: #74B0FF;
$cor-btn-input-outline: #DCDFE4;

//Cor dos cards (no final é a cor)
$cor-card-azul-opaco: #F1F2F4;
$cor-card-amarelo: #FFF7D6;
$cor-card-principal: #006EFF; */

//Spacing
$spaceXSmall: 4px;
$spaceSmall: 8px;
$spaceMedium: 12px;
$spaceLarge: 16px;
$spaceXLarge: 20px;
$spaceXXLarge: 24px;
$spaceXXXLarge: 28px;
$spaceXXXXLarge: 32px;
$spaceExtra: 64px;
$spaceXExtra: 128px;
$spaceBig: 256px;

//ColorsScheme

//brand
$brand1: #006EEF;
$brand2: #FFAC4A;

//neutralLight
$N0: #FFFFFF;
$N100: #F7F8F9;
$N200: #F1F2F4;
$N300: #DCDFE4;
$N400: #B3B9C4;
$N500: #8590A2;
$N600: #758195;
$N700: #626F86;
$N800: #44546F;
$N900: #2C3E5D;
$N1000: #172B4D;

//neutralDark
$N0D: #161A1D;
$N100D: #1D2125;
$N200D: #22272B;
$N300D: #2C333A;
$N400D: #454F59;
$N500D: #596773;
$N600D: #738496;
$N700D: #8C9BAB;
$N800D: #9FADBC;
$N900D: #B6C2CF;
$N1000D: #C7D1DB;

//info
$B0: #E9F2FF;
$B100: #CCE0FF;
$B200: #85B8FF;
$B300: #579DFF;
$B400: #388BFF;
$B500-info: #006EFF;
$B600: #0C66E4;
$B700: #0055CC;
$B800: #09326C;
$B900: #092957;

//sucess
$G0: #DFFCF0;
$G100: #BAF3DB;
$G200: #7EE2B8;
$G300: #4BCE97;
$G400-sucess: #27AE60;
$G500: #22A06B;
$G600: #1F845A;
$G700: #216E4E;
$G800: #164B35;
$G900: #143C2B;

//warning
$Y0: #FFF7D6;
$Y100: #F8E6A0;
$Y200: #FFAC4A;
$Y300-warning: #E2B203;
$Y400: #CF9F02;
$Y500: #B38600;
$Y600: #949F00;
$Y700: #7F5F01;
$Y800: #533F04;
$Y900: #3F3102;

//danger
$R0: #FFECEC;
$R100: #FDD0F0;
$R200: #F79797;
$R300: #E77474;
$R400: #DA6262;
$R500: #CD5151;
$R600-danger: #AE4747;
$R700: #943D3D;
$R800: #502525;
$R900: #421F1F;

//mutued
$mutued: #626F86;
$title: #172B4D;
$bg: #F1F2FA;

//Text
$headeH1:56px;
$headeH2:48px;
$headeH3:40px;
$headeH4:32px;
$headeH5:24px;
$headeH6:20px;

$textSmalling: 8px;
$textSmaller: 12px;
$textSmallerBold: 12px; 
$textSmall: 14px;
$textSmallBold: 14px;
$textNormal: 16px;
$textNormalBold: 16px;
$textMedium: 18px;
$textMediumBold: 18px;
$textLarge: 20px;
$textLargeBold: 20px;
$textExtraLarge: 24px;
$textExtraLargeBold: 24px;
$textBig: 35px;
$textBigBold: 35px;

//BORDAS


//EFECTS
$dropShadow: 0px 4px 15px 0px rgba(9, 44, 76, 0.40);
$innerShadow: 0px 4px 15px 0px rgba(9, 44, 76, 0.40) inset;
$glassEffect: blur(10px);