<ion-content class="ion-padding">
  <ion-button expand="block" (click)="setOpen(true)">Botão pra abrir Modal</ion-button>
  <!-- Modal começa aqui -->
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
        <!-- <ion-buttons slot="start">
          <ion-button (click)="setOpen(false)">Fechar Modal</ion-button>
        </ion-buttons> -->
          <ion-content [fullscreen]="true" scrollY="false">
            <img class="forward" src="../../assets/svg/arrow_forward_ios.svg" alt="seta para voltar" (click)="setOpen(false)">
            <!-- <app-modal-criar
              button ="Nome botão"
              [inputs]="[
                [
                  { placeholder: 'Input 1', id: 'input1' },
                  { placeholder: 'Input 2', id: 'input2' }
                ]
              ]"
            ></app-modal-criar> -->
          </ion-content>   
          <!-- Conteúdooooooooooooooooooo --> 
    </ng-template>
  </ion-modal>
    <!-- Modal termina aqui -->
</ion-content>