<ion-content [fullscreen]="true" scrollY="false">
  <img class="forward" src="../../assets/svg/arrow_forward_ios.svg" alt="" [routerLink]="['/list-adm-community',userId, communityId]">

  <div class="imageIlustrator">
    <img  src="../../assets/png/imagem.png" alt="">
  </div>

  <form (ngSubmit)="updateCommunity($event)" >
    <div class="inputs">  
      
      <input name="name" [(ngModel)]="name" placeholder="Nome" class="inputText" >
      
      <ion-item class="input item inputText">
        <ion-select placeholder="Categoria" [(ngModel)]="categoriaSelecionada" name="category">
          <ion-select-option *ngFor="let category of category" [value]="category.id_categoria">
            {{ category.ds_categoria }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <input style="width: 382px;" name="address" [(ngModel)]="address" placeholder="Endereço" class="inputText" >
      <div>
        <textarea name="about" [(ngModel)]="about"  placeholder="Descrição" class="description inputText" (input)="updateCounter($event)" maxlength="100"></textarea>
        <div class="counter"></div>
      </div>
    </div>
    <div class="buttonBig">
      <app-button-big>Salvar Alterações</app-button-big>
    </div>
  </form>

  <div class="options">
    <app-button-small  [routerLink]="['/community-lists-sobre',userId, communityId]" class="textButton">Cancelar</app-button-small>
    <div (click)="deleteCommunity()" class="excluir">
      <p>Excluir</p>
    </div>
  </div>
  
</ion-content>
