<ion-content [fullscreen]="true" scrollY="false">
  <img *ngIf="communityId" [routerLink]="['/list-adm-community', userId, communityId]" class="forward" src="../../assets/svg/arrow_forward_ios.svg" alt="">

  <div class="imageIlustrator">
    <img width="200px" height="200px" src="../../assets/svg/defaultImgComunnity.svg" alt="">
  </div>

  <form (ngSubmit)="updateCommunity($event)">
    <div class="inputs">  
      <input name="name" [(ngModel)]="name" [placeholder]="oldName || 'Nome'" class="inputText">

      <ion-item class="inputText input">
        <ion-select [(ngModel)]="categoriaSelecionada" name="category" [placeholder]="oldCategoria || 'Categoria'">
          <ion-select-option *ngFor="let category of category" [value]="category.id_categoria">
            {{ category.ds_categoria }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <input style="width: 382px;" name="address" [(ngModel)]="address" [placeholder]="oldAddress || 'Endereço'" class="inputText">
      <div>
        <textarea name="about" [(ngModel)]="about" [placeholder]="oldAbout || 'Sobre a comunidade'" class="description inputText" (input)="updateCounter($event)" maxlength="100"></textarea>
        <div class="counter"></div>
      </div>
    </div>
    <div class="buttonBig">
      <app-button-big>Salvar Alterações</app-button-big>
    </div>
  </form>

  <div class="options">
    <app-button-small *ngIf="communityId" [routerLink]="['/list-adm-community', userId, communityId]" class="textButton">Cancelar</app-button-small>
    <div (click)="deleteCommunity()" class="excluir">
      <p>Excluir</p>
    </div>
  </div>
</ion-content>
