  <!-- Toast de Erro -->
  <div class="toast Error">
    <div class="bg-color">
      <img src="../../../../assets/toast/grade.svg" alt="">
    </div>
    <div class="content">
      <div class="icon">
        <img src="../../../../assets/toast/erroIcon.svg" alt="">
      </div>
      <div class="textToast">
        <h2>Falha na conexão com o servidor</h2>
        <p>Estamos enfrentando problemas para conectar ao servidor do nosso sistema no momento.
        </p>
      </div>
    </div>
  </div>
