@import "./../../global.scss";

:host{
    
    .header{
        box-shadow: none;
        display: flex;
        justify-content: space-between;
        height: 50px;
        margin: 16px 24px ;
        align-items: center;
        align-items: center;
    }
    p{
        font-size: 12px; 
    }
    .content{
        padding: 16px 24px!important;
    }
    .user img {
        width: 50px;
        height: 50px;
    }
    .lists{
        display: flex;
        align-items: center;
        padding: 27px 0 40px 0;
    }
    .list{
        margin: 0 0 0 32px;
    }
    .all-lists{
        display: content;
        padding: 27px 0 0 0;
    }
    .title-filter{
        display: flex;
        justify-content: space-between;
    }

    ::placeholder {
        color: var(--Color-Neutral-Dark-N800, #9FADBC);
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px; 
    }

    .input-button {
        display: flex;
        align-items: center;
        overflow: hidden;
        width: 100%;
        height: 55px;
        border-radius: var(--Space-8, 16px);
        border: var(--Space-space-025, 2px) solid #{$B100};
        background: transparent;

    }
    .input-button input[type="text"] {
        flex: 1;
        padding: 8px;
        border: none;
        outline: none;
        width: 100%;
    }
    .input-button button {
        padding: 8px 12px;
        border: none;
        background: #{$brand1};
        cursor: pointer;
        height: 100%;
        border-radius: 16px;
        color: #{$N0}
    }


}