<ion-content>
  <div class="container">
    <img class="forward" src="../../assets/svg/arrow_forward_ios.svg" alt="" [routerLink]="['/tabs/tab1']">


    <div class="items">
      <h5>Escolha os itens</h5>

      <div class="card-items">
          <app-card-box action="Item1" description="Adicione um item" class="card-box-comparation-button" ></app-card-box>
          <app-card-box action="Item2" description="Adicione outro item" class="card-box-comparation-button" ></app-card-box>
          
      </div>

      <div class="items-comparation">
        <app-card-comparation-item firstItemComparation="I8tem1" secondItemComparation="Item2" nameItem="Item recomendado" itemCategory="Categoria" priceItem="0,00"></app-card-comparation-item>
      </div>
    </div>
  </div>  
</ion-content>
