@import '../../global.scss';

:host{
    .card-items{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        margin-bottom: 54px;
        margin-top: 32px;
    }
    .items{
        margin-top: 25px;

    }
    .container{
        padding: 24px;
    }
    .card-items{
        display: flex;
        justify-content: space-between;
    }
}