<ion-content scrollY="false">
  <div class="body">
    <div class="header">
      <img
        src="../../assets/svg/arrow.svg"
        alt=""
        class="arrow"
        [routerLink]="['/load-screen3']"
      />
      <div>
        <span class="span-top">Já possui uma conta?</span>
        <app-button-small class="buttonSmall" [routerLink]="['/login-account']"
          >Entrar</app-button-small
        >
      </div>
    </div>

    <h1>Na Volta Eu Compro</h1>
    <div class="boxSombra"></div>

    <div class="box">
      <p>Comece Gratuitamente</p>
      <span>E controle sua vida financeira</span>

      <form
        [formGroup]="registerForm"
        (ngSubmit)="createUser($event)"
        class="input"
      >
        <div>
          <app-input
            formControlName="name"
            type="text"
            placeholder="Nome"
            class="input-login"
            name="name"
            [maxlength]="50"
            required
          >
          </app-input>
<!--           <div *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched">
            <small *ngIf="registerForm.get('email').errors.required">E-mail é obrigatório.</small>
            <small *ngIf="registerForm.get('email').errors.email">E-mail inválido.</small>
          </div> -->
        </div>

        <div>
          <app-input
            formControlName="email"
            type="email"
            placeholder="E-mail"
            class="input-login"
            name="email"
            [maxlength]="200"
            required
          >
          </app-input>
        </div>

        <div>
          <app-input
            formControlName="password"
            type="password"
            placeholder="Senha"
            class="input-password"
            name="password"
            [maxlength]="16"
            required
          >
          </app-input>
        </div>

        <app-button-big type="submit" [disabled]="registerForm.invalid"
          >Cadastrar
        </app-button-big>
      </form>

      <div class="line">
        <div></div>
        <span>Ou cadastrar por</span>
        <div></div>
      </div>

      <div class="buttonSocial">
        <app-button-social
          [imageSocial]="'../../assets/svg/google.svg'"
          texto="Google"
          [routerLink]="['/pre-page']"
        ></app-button-social>
        <app-button-social
          [imageSocial]="'../../assets/svg/facebook.svg'"
          texto="Facebook"
          [routerLink]="['/pre-page']"
        ></app-button-social>
      </div>
    </div>
  </div>
</ion-content>
