@import "../../global.scss";

.body{
    background: var(--Color-brand1, #006EFF);
    height: -webkit-fill-available;
}

.boxSombra{
    margin: 0px 24px 0px 24px;
    height: 560.7px;
    flex-shrink: 0;
    border-radius: 43.2px 43.2px 0px 0px;
    opacity: 0.5;
    background: var(--Color-inverted-inverted100, #F7F8F9);
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 1;
    left: 0; //importante para responsividade
    right: 0; //importante para responsividade
    bottom: 70px;
}

.box{
    width: auto;
    height: 615px;
    flex-shrink: 0;
    border-radius: 48px 48px 0px 0px;
    background: var(--Color-inverted-inverted0, #FFF);
    position:fixed;
    justify-content: end;
    left: 0;
    right: 0;
    z-index: 2;
    bottom: 0;
    text-align: center; // TALVEZ DEIXAR

}

h1{
    color: var(--Color-inverted-inverted0, #FFF);
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    margin: 0;
    font-family: 'Poppins';
    text-align: center;
    padding-top: 100px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 0px 24px 0px 24px;
}

p{
    color: var(--Color-Neutral-Dark-N300, #2C333A);
    font-family: 'Poppins';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 35.2px; /* 110% */
    text-align: center;
    margin: 0;
    margin-top: 50px;
}

span{
    color: var(--Color-Neutral-Dark-N700, #8C9BAB);
    font-family: 'Poppins';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 133.333% */
    text-align: center;
    left: 100;
    right: 100;
 }

 .span-top{
    margin-right: 10px;
    color: var(--N0, #fff);
 }

.input{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.inputName{
    margin: 64px 0px 24px 0px;
}

.inputEmail, .inputSenha{
    margin: 0px 0px 24px 0px;
}

hr{
    width: 133px;
    height: 0.5px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--Color-inverted-inverted300, #DCDFE4);
}

ion-toolbar{
    background: var(--Color-brand1, #006EFF);
}

.buttonSmall{
    margin-top: 0;
    float: right;
}

.arrow{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.buttonSocial {
    display: flex;
    gap: 14px;
    justify-content: center;
}

.line div{
    height: 1px;
    background-color: $N300;
    flex-grow: 1;
    margin: 0px 22px 0px 22px;
}

.line {
    display: flex;
    align-items: center;
    margin-top: 28px;
    margin-bottom: 28px;
}

line span{
    margin-left: 10px;
}
  
  

  