<ion-content scrollY="false" >
  <div class="body">

    <div class="header">
      <img src="../../assets/svg/arrow.svg" alt="" class="arrow" [routerLink]="['/load-screen3']">
      <div>
        <span class="span-top">Já possui uma conta?</span>
        <app-button-small class="buttonSmall"  [routerLink]="['/login-account']">Entrar</app-button-small>
      </div>
    </div>
      
    <h1>Na Volta Eu Compro</h1>
    <div class="boxSombra"></div>

    <div class="box"> 
      <p>Comece Gratuitamente</p>
      <span>E controle sua vida financeira</span>
      <div class="inputs">      
        <app-input placeholder="Nome" class="inputName">Nome</app-input>
        <app-input placeholder="E-mail" class="inputEmail">E-mail</app-input>
        <app-input placeholder="Title" class="inputTitle">Title </app-input>
      </div>
      <app-button-big class="buttonCreate">Cadastrar</app-button-big>

      <div class="line">
        <div ></div>
        <span>Ou cadastrar por</span>
        <div ></div>
      </div>      

      <div class="buttonSocial">
        <app-button-social [imageSocial]="'../../assets/svg/google.svg'" texto="Midia social"></app-button-social>
        <app-button-social [imageSocial]="'../../assets/svg/facebook.svg'" texto="Midia social"></app-button-social>
      </div>
   
    </div>
  </div>
</ion-content>