<ion-grid>
  <ion-row>
    <ion-col size="3" [routerLink]="['/tabs/tab4']">
      <div>
        <!-- <p class="criar">Criar</p> -->
        <ion-card>
          <img src="../../../../assets/svg/add_comment.svg">
        </ion-card>
        <p>Comunidade</p>
      </div>
    </ion-col>

    <ion-col size="3" [routerLink]="['/report']">
      <ion-card>
        <img src="../../../../assets/svg/lab_profile.svg">
      </ion-card>
      <p>Relatório</p>
    </ion-col>

    <ion-col size="3" [routerLink]="['/plans-screen']">
      <ion-card>
        <img src="../../../../assets/svg/savings.svg">
      </ion-card>
      <p>Assinatura</p>
    </ion-col>

    <ion-col size="3"  [routerLink]="['/comparation-item-screen']">
      <ion-card>
        <img src="../../../../assets/svg/compare_arrows.svg">
      </ion-card>
      <p>Comparar</p>
    </ion-col>
  </ion-row>
</ion-grid>
    
