<ion-content *ngIf="item">
  <img class="forward" src="../../assets/svg/arrow_forward_ios.svg" [routerLink]="['/select-item',item.id_lista, item.id_item]">

  <div class="imageIlustrator">
    <img width="200px" height="200px" src="../../assets/svg/defaultImgItem.svg" alt="">
  </div>
  
  <div> <!-- Conteúdo da modal -->
    <div class="modal-content">
      <form (ngSubmit)="updateItem($event)">
        <ng-container>
          <div class="inputs">
            <!-- Input Nome -->
            <div>
              <input
               name="name" 
               [(ngModel)]="name"
               [placeholder]="item.nm_item || 'Nome'"
               class="inputText">
              <div class="counter"></div>
            </div>
            <!-- Input Nome-->

            <!-- Dropdown medida -->
            <ion-item class="item">
              <input name="quantity_measure" [(ngModel)]="quantity_measure" [placeholder]="(item.qtde_medida_item && item.ds_medida) ? (item.qtde_medida_item + ' ' + item.ds_medida) : 'Medida'">

              <ion-select [(ngModel)]="medidaSelecionada" name="measures" style="position: absolute; margin-left: 140px;">
                <ion-select-option *ngFor="let measure of measures" [value]="measure.id_medida">{{ measure.ds_medida }}</ion-select-option>
              </ion-select>
            </ion-item>
            <!-- Dropdown medida -->

            <!-- Input Quantidade -->
            <input 
              name="quantity" 
              [(ngModel)]="quantity" 
              [placeholder]="item.qtde_item || 'Quantidade'">
            <!-- Input Quantidade -->

            <!-- Input Valor -->
            <input 
              name="price" 
              [(ngModel)]="formattedPrice" 
              [placeholder]="item.vl_uni || 'Valor'" 
              class="inputText" 
              (input)="formatCurrency($event)">
            <!-- Input Valor -->
          </div>
        </ng-container>

        <div class="buttonBig">
          <app-button-big>Salvar Alterações</app-button-big>
        </div>
      </form>
    </div>

    <!-- Botão Bolean cancelar e Excluir -->
    <div class="bolean">
      <!-- Botão Cancelar -->
      <a style="text-decoration: none;" [routerLink]="['/select-item',item.id_lista, item.id_item]" class="cancelar">Cancelar</a>
      <!-- Botão Excluir -->
      <div (click)="deleteItem()" class="excluir">
        <p>Excluir</p>
      </div>
    </div>
    <!-- Botão Bolean cancelar e Excluir -->
  </div>
</ion-content>
