@import "./../../../../global.scss";

:host{
    ion-card{
        display: inline-flex;
        padding: 27px 33px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--Space-28, 28px);
        border-radius: 16px;
        border: var(--Space-space-025, 2px) solid var(--Color-brand1, #006EFF);
        background: var(--Color-bg, #FFF);
        width: 200px;
        height: 119px;
    }
    button{
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background: var(--Color-brand1, #006EFF);
        border-radius: 50%;
        margin: 0 0 0 15px;
    }
    .community .text-btn{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    h6{
        color: var(--Normal0, #161A1D);
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
        width: 100px;
    }
    .ellipse{
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: var(--Color-Success-G400, #4BCE97);
        margin-right: 5px;
    }
    .title{
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

:host.card-community-color .ellipse{
    background: var(--Color-Success-G400, #4BCE97);
}
