<ion-content  scrollY="false">
  <ion-grid class="grid">
    <img class="forward" src="../../assets/svg/arrow_forward_ios.svg" alt=""  [routerLink]="['/tabs/tab5']">
    <h1>Preferências</h1>
    <ion-row class="row">
      <ion-col class="ion-align-self-center">  
        <h3>Fonte</h3>
      </ion-col>
      <ion-col class="ion-align-self-center">
        <ion-range aria-label="Range with pin" [pin]="true" [pinFormatter]="pinFormatter"></ion-range>
      </ion-col>
    </ion-row>
  
    <ion-row class="row">
      <ion-col class="ion-align-self-center">  
        <h3>Zoom</h3>
      </ion-col>
      <ion-col class="ion-align-self-center">
        <div>
          <select id="zoom" name="zoom" class="dropdown">
            <option value="placeholder" selected disabled hidden class="categoria-placeholder">Zoom</option>
            <option value="tipo1">Tipo 1</option>
            <option value="tipo2">Tipo 2</option>
            <option value="tipo3">Tipo 3</option>
          </select>
        </div>
      </ion-col>
    </ion-row>
    
    <ion-row class="row"> 
        <hr>
    </ion-row>

    <ion-row class="row">
      <ion-col>  
        <h3>Limpar cache</h3>
      </ion-col>
      <ion-col>
        <app-button-arrow [imagePath]="'./../../assets/png/arrow_forward_white.png'" class="buttonArrow"></app-button-arrow>
      </ion-col>
    </ion-row>
  
  </ion-grid>
</ion-content>
