<ion-content [fullscreen]="true" scrollY="false">
  <img *ngIf="listaId"  [routerLink]="['/lists-items', listaId]" class="forward" src="../../assets/svg/arrow_forward_ios.svg" alt="">

  <div class="imageIlustrator">
    <img  src="../../assets/svg/defaultImgItem.svg" alt="" style="width: 200px; height: auto;">
  </div>

 <form (ngSubmit)="createItem($event)">
  <div class="inputs">  

    <input name="name" [(ngModel)]="name" placeholder="Nome" class="inputText" >
    
    <ion-item class="item">
      <input class="inputText" name="quantity_measure" [(ngModel)]="quantity_measure" placeholder="Medida" >
      <ion-select [(ngModel)]="medidaSelecionada" name="measures" style="position: absolute; margin-left: 140px;" >
        <ion-select-option *ngFor="let measure of measures" [value]="measure.id_medida">{{ measure.ds_medida }}</ion-select-option>
      </ion-select>
    </ion-item>

    <input name="price" [(ngModel)]="price" placeholder="Valor unitário" class="inputText" type="number">
    
    <input name="quantity" [(ngModel)]="quantity" placeholder="Quantidade" class="inputText" type="number">
  </div>

  <div class="buttonBig">
    <app-button-big>Adicionar item</app-button-big>
  </div>
 </form>
  

</ion-content>
