<ion-content [fullscreen]="true">
    <div class="content">
        <img class="forward" src="../../assets/svg/arrow_forward_ios.svg" alt="seta para voltar" [routerLink]="['/ajuda']">

      <div class="container">
        <h1>Regulamentação</h1>

        <div class="paragraph">
          <h4>1. Aceitação dos Termos</h4>
          <p>
            Ao utilizar o nosso aplicativo móvel, você concorda com os seguintes termos e condições. Se não concordar com estes termos, pedimos que interrompa o uso do aplicativo.
          </p>
        </div>

        <div class="paragraph">
          <h4>2. Política de Privacidade</h4>
          <p>
            Respeitamos a sua privacidade. A coleta e o uso de dados pessoais estão sujeitos à nossa Política de Privacidade, que recomendamos que você leia atentamente. Esta política descreve como coletamos, usamos e compartilhamos suas informações.
          </p>
        </div>

        <div class="paragraph">
          <h4>3. Uso do Aplicativo</h4>
          <p>
            O uso do aplicativo é para fins pessoais e não comerciais, a menos que autorizado por escrito por nós. Você concorda em não usar o aplicativo para atividades ilegais, fraudulentas ou abusivas.
          </p>
        </div>

        <div class="paragraph">
          <h4>4. Direitos de Propriedade Intelectual</h4>
          <p>
            Todo o conteúdo do aplicativo, incluindo, mas não limitado a, texto, gráficos, logotipos, imagens, e design, é de nossa propriedade ou de nossos licenciadores. Você não pode copiar, reproduzir ou distribuir qualquer conteúdo sem nossa permissão.
          </p>
        </div>

        <div class="paragraph">
          <h4>5. Segurança do Aplicativo</h4>
          <p>
            Trabalhamos para manter o aplicativo seguro e protegido. No entanto, não podemos garantir segurança absoluta. Você concorda em usar o aplicativo por sua conta e risco e em não nos responsabilizar por qualquer perda ou dano decorrente do uso do aplicativo.
          </p>
        </div>

        <div class="paragraph">
          <h4>6. Atualizações e Manutenção</h4>
          <p>
            Podemos, ocasionalmente, lançar atualizações para melhorar o aplicativo ou corrigir problemas. Você concorda em aceitar essas atualizações para garantir a funcionalidade contínua do aplicativo.
          </p>
        </div>

        <div class="paragraph">
          <h4>7. Limitação de Responsabilidade</h4>
          <p>
            Não nos responsabilizamos por danos diretos ou indiretos decorrentes do uso ou incapacidade de usar o aplicativo, incluindo, mas não limitado a, perda de dados ou interrupção de negócios. Esta limitação se aplica na máxima medida permitida por lei.
          </p>
        </div>

        <div class="paragraph">
          <h4>8. Rescisão de Serviço</h4>
          <p>
            Reservamo-nos o direito de suspender ou encerrar o acesso ao aplicativo a qualquer momento, sem aviso prévio, por qualquer motivo, incluindo violação destes regulamentos.
          </p>
        </div>

        <div class="paragraph">
          <h4>9. Contato</h4>
          <p>
            Se você tiver dúvidas ou preocupações sobre estes regulamentos ou o uso do aplicativo, entre em contato conosco em hello&#64;nvec.com.
          </p>
        </div>

      </div>
    </div>
</ion-content>
