<ion-content [fullscreen]="true">
  <div class="content">
    <ion-toolbar>
      <img class="forward" src="../../assets/svg/arrow_forward_ios.svg" alt="seta para voltar" [routerLink]="['/ajuda']">
    </ion-toolbar>

    <div class="container">
      <h1>Política de Privacidade</h1>

      <div class="paragraph">
        <h4>1. Introdução</h4>
        <p>
          Esta Política de Privacidade explica como coletamos, usamos, divulgamos e protegemos suas informações pessoais quando você usa nosso aplicativo móvel ou nossos serviços. Ao usar nosso aplicativo, você concorda com a coleta e o uso de informações conforme descrito nesta política.
        </p>
      </div>
      
      <div class="paragraph">
        <h4>2. Informações que Coletamos</h4>
        <p>
          Podemos coletar diferentes tipos de informações pessoais, incluindo, mas não limitado a:
        </p>  
        <ul>
          <li>Informações de Identificação Pessoal: Nome, endereço de e-mail, número de telefone, entre outros.</li>
          <li>Informações do Dispositivo: Modelo, sistema operacional, identificadores únicos.</li>
          <li>Informações de Uso: Páginas visitadas, tempo gasto no aplicativo, interações.            </li>
          <li>Informações de Localização: Localização aproximada ou precisa, se permitido por você.            </li>
        </ul>
        
      </div>

      <div class="paragraph">
        <h4>3. Como Usamos as Informações</h4>
        <p>
        </p>  
          <ul>
            <li>Usamos suas informações para as seguintes finalidades:</li>
            <li>Para Fornecer Serviços: Para operar e melhorar nosso aplicativo.</li>
            <li>Para Comunicação: Para entrar em contato com você sobre atualizações, notificações importantes ou promoções.</li>
            <li>Para Análise: Para entender como os usuários interagem com nosso aplicativo e melhorar nossos serviços.</li>
            <li>Para Marketing: Para personalizar anúncios e promoções com base nos seus interesses.</li>
          </ul>
        
      </div>
      
      <div class="paragraph">
        <h4>4. Compartilhamento de Informações</h4>
        <p>
        </p>  
          <ul>
            <li>Não compartilhamos suas informações pessoais com terceiros, exceto nas seguintes situações:</li>
            <li>Com Consentimento: Se você der permissão para compartilhar.</li>
            <li>Com Prestadores de Serviços: Para ajudar no fornecimento e melhoria do nosso aplicativo.</li>
            <li>Por Motivos Legais: Se exigido por lei ou para proteger nossos direitos e propriedades.</li>
          </ul>
        
      </div>

      <div class="paragraph">
        <h4>5. Direitos dos Usuários</h4>
        <p>
        </p>  
          <ul>
            <li>Você tem certos direitos em relação às suas informações pessoais, incluindo:</li>
            <li>Acesso: Direito de acessar as informações pessoais que temos sobre você.</li>
            <li>Correção: Direito de corrigir informações incorretas ou desatualizadas.</li>
            <li>Exclusão: Direito de solicitar a exclusão de suas informações pessoais.</li>
            <li>Retirada do Consentimento: Direito de retirar o consentimento para uso de suas informações.</li>
          </ul>
        
      </div>
      
      <div class="paragraph">
        <h4>6. Segurança das Informações</h4>
        <p>
          Tomamos medidas razoáveis para proteger suas informações pessoais contra acesso não autorizado, perda ou destruição. No entanto, nenhuma medida de segurança é perfeita, e você concorda em usar nosso aplicativo por sua conta e risco.
        </p>
      </div>

      <div class="paragraph">
        <h4>7. Alterações nesta Política de Privacidade</h4>
        <p>
          Podemos atualizar esta política de privacidade ocasionalmente para refletir mudanças nas leis ou em nossas práticas de privacidade. Notificaremos você sobre alterações importantes e recomendamos revisar esta política periodicamente.
        </p>
      </div>
      
      <div class="paragraph">
        <h4>8. Contato</h4>
        <p>
          Se você tiver perguntas ou preocupações sobre esta Política de Privacidade ou o uso de suas informações pessoais, entre em contato conosco em hello&#64;nvec.com.
        </p>
      </div>

      <h1 class="title-cookies">Política de Cookies</h1>

      <div class="paragraph">
        <h4>1. O que são Cookies?</h4>
        <p>
          Cookies são pequenos arquivos de texto armazenados no seu dispositivo quando você acessa um site ou usa um aplicativo. Eles ajudam a personalizar a sua experiência, lembrar das suas preferências e melhorar o desempenho do site ou aplicativo.
        </p>
      </div>
      
      <div class="paragraph">
        <h4>2. Como Utilizamos Cookies</h4>
        <p>
          Usamos cookies para várias finalidades, incluindo:
        </p>  
          <ul>
            <li>Autenticação: Para reconhecer quando você faz login e manter sua sessão ativa.</li>
            <li>Personalização: Para lembrar suas preferências, como idioma ou layout.</li>
            <li>Análise: Para entender como os usuários interagem com nosso aplicativo e melhorar sua experiência.</li>
            <li>Marketing: Para fornecer anúncios relevantes com base no seu uso e interesses.</li>
          </ul>
        
      </div>

      <div class="paragraph">
        <h4>3. Tipos de Cookies</h4>
        <p>
          Podemos usar diferentes tipos de cookies, como:
        </p>  
          <ul>
            <li>Cookies Essenciais: Necessários para o funcionamento do aplicativo.</li>
            <li>Cookies de Desempenho: Usados para medir e melhorar o desempenho do aplicativo.</li>
            <li>Cookies de Funcionalidade: Para lembrar das suas escolhas e personalizar sua experiência.</li>
            <li>Cookies de Publicidade: Para entregar anúncios mais relevantes para você.</li>
          </ul>
        
      </div>
      
      <div class="paragraph">
        <h4>4. Consentimento para o Uso de Cookies</h4>
        <p>
          Ao usar nosso aplicativo, você concorda com o uso de cookies conforme descrito nesta política. Alguns cookies exigem seu consentimento explícito, enquanto outros são necessários para o funcionamento do aplicativo.
        </p>
      </div>

      <div class="paragraph">
        <h4>5. Alterações nesta Política de Cookies</h4>
        <p>
          Podemos, ocasionalmente, lançar atualizações para melhorar o aplicativo ou corrigir problemas. Você concorda em aceitar essas atualizações para garantir a funcionalidade contínua do aplicativo.
        </p>
      </div>
      
      <div class="paragraph">
        <h4>6. Contato</h4>
        <p>
          Se você tiver dúvidas ou preocupações sobre esta política de cookies ou privacidade em geral, entre em contato conosco em hello&#64;nvec.com.
        </p>
      </div>

    </div>
  </div>
</ion-content>
