<ion-content >
  <div class="body">

    <div class="header">
      <img src="../../assets/svg/arrow.svg" alt="" class="arrow">
      <span>Já possui uma conta?</span>
      <app-button-small class="buttonSmall">Entrar</app-button-small>
    </div>
      
    <h1>Na Volta Eu Compro</h1>
    <div class="boxSombra">
    </div>

    <div class="box"> 
      <p>Bem-Vindo Novamente</p>
      <span>Insira seus dados abaixo e volte a se organizar</span>
      <div class="inputs">      
        <app-input placeholder="Nome" class="inputName">Nome</app-input>
        <app-input placeholder="E-mail" class="inputEmail">E-mail</app-input>
      </div>
      <app-button-big class="buttonCreate">Entrar</app-button-big>
      <div id="linha">
        <span class="spanTwo">Esqueceu sua senha</span>
      </div>

      <div>
        <hr />
        <span>Ou entrar usando</span>
      </div>
     

      <div class="buttonSocial">
        <app-button-social> <img src="../../assets/svg/google.svg"  alt="" class="imgGoogle">Google </app-button-social>
        <app-button-social> <img src="../../assets/svg/facebook.svg" alt="" class="imgFacebook">Facebook </app-button-social>  
      </div>
   
    </div>

  </div>
</ion-content>