<ion-content [fullscreen]="true">
  <img [routerLink]="['/tabs/tab4']" class="forward" src="../../assets/svg/arrow_forward_ios.svg" alt="seta para voltar">
  <div class="content">
  <ion-card >
    <div *ngIf="community" class="cardBlue">
      <!-- todas essas informações são puxadas do banco de dado -->
      <h1 class="nameComunnity">{{community.nm_comunidade}}</h1>
      <h2 class="category">{{community.ds_categoria}}</h2>
      <p class="date">04/12/2023</p>

      <div class="boxSobre">
        <p class="textComunnity">{{community.sb_comunidade}}</p>
      </div>

      <ion-row>
        <ion-col class="col" size="8">      
          <h3 
          [routerLink]="['/community-lists-sobre', userId,communityId]"
          >Acessar comunidade</h3>
        </ion-col>
        <ion-col class="col" >
          <button class="btn-edit" [routerLink]="['/update-community', userId,communityId]">
            <img src="../../../../assets/svg/edit.svg" alt="">
          </button>
        </ion-col>
      </ion-row>
    </div>
  </ion-card>

  <div class="title-filter">
    <h1>Todos os itens</h1>
    <img src="./../../assets/svg/filter.svg" alt="">
  </div>

  <div class="itens-div">
    
    <app-card-box action="Criar" description="Adicionar um novo item" [routerLink]="['/create-item-comunnity', userId,communityId]"></app-card-box>
    <app-card-item 
    *ngFor="let item of items"  
    [itemName]="item.nm_item" 
    [itemId]="item.id_item"
    [listaId]="item.id_lista"
    [userId]="userId"
    [imagePath]="'../../../../assets/svg/defaultImgItem.svg'"
    [routerLink]="['/select-item-community',userId, listaId.toString(), item.id_item.toString()]"
    ></app-card-item>
    <!-- <app-card-item 
    *ngFor="let item of items"  
    [itemName]="item.nm_item" 
    [itemId]="item.id_item"
    [listaId]="item.id_lista"
    [status]="item.id_status"
    (statusChange)="onStatusChange(item.id_item, $event)"
    [imagePath]="'../../../../assets/svg/defaultImgItem.svg'"
    ></app-card-item> -->
  </div>
</div>
</ion-content>
