<ion-content [fullscreen]="true">
  <img [routerLink]="['/tabs/tab4']" class="forward" src="../../assets/svg/arrow_forward_ios.svg" alt="seta para voltar">
  <div class="content">
  <ion-card >
    <div *ngIf="community" class="cardBlue">
      <!-- todas essas informações são puxadas do banco de dado -->
      <h1 class="nameComunnity">{{community.nm_comunidade}}</h1>
      <h2 class="category">{{community.ds_categoria}}</h2>
      <p class="date">04/12/2023</p>

      <div class="boxSobre">
        <p class="textComunnity">{{community.sb_comunidade}}</p>
      </div>

      <ion-row>
        <ion-col class="col" size="8">      
          <h3 
          [routerLink]="['/community-lists-sobre', userId,communityId]"
          >Acessar comunidade</h3>
        </ion-col>
        <ion-col class="col" >
          <button class="btn-edit" [routerLink]="['/update-comunnity']">
            <img src="../../../../assets/svg/edit.svg" alt="">
          </button>
        </ion-col>
      </ion-row>
    </div>
  </ion-card>

  <div class="title-filter">
    <h1>Todos os itens</h1>
    <img src="./../../assets/svg/filter.svg" alt="">
  </div>

  <div class="itens-div">
    
    <app-card-box action="Criar" description="Adicionar um novo item" [routerLink]="['/create-item-comunnity']"></app-card-box>
    <app-card-item price="2,40" itemName="Oreo" description="Biscoito" [routerLink]="['/update-item']"
      [imagePath]="'https://images.crunchbase.com/image/upload/c_pad,h_256,w_256,f_auto,q_auto:eco,dpr_1/lahhlxg8nk6goxrcbcpz'"></app-card-item>
  </div>
</div>
</ion-content>
