  <!-- Toast Informativo -->

  <app-toast-info
  titulo="Nova Política de Privacidade"
  conteudo="Atualizamos nossa política de privacidade para garantir uma melhor proteção das suas informações pessoais.">
</app-toast-info>

  <!-- Toast de Erro -->

  <app-toast-error
  titulo="Falha na conexão com o servidor"
  conteudo="Estamos enfrentando problemas para conectar ao servidor do nosso sistema no momento.">
</app-toast-error>

  <!-- Toast de Sucesso -->

  <app-toast-success
  titulo="Pagamento recebido"
  conteudo="Seu pagamento foi recebido com sucesso.
  Agora você tem acesso aos serviços premium.">
</app-toast-success>





