<div class="main">
  <!-- Toast Informativo -->
  <div class="toast Info">
    <div class="bg-color">
      <img src="../../assets/toast/grade.svg" alt="">
    </div>

    <div class="content">
      <div class="icon">
        <img src="../../assets/toast/infoIcon.svg" alt="">
      </div>
      <div class="textToast">
        <h2>Nova Política de Privacidade</h2>
        <p>Atualizamos nossa política de privacidade para garantir uma melhor proteção das suas informações pessoais.</p>
      </div>
    </div>
  </div>

  <!-- Toast de Erro -->
  <div class="toast Error">
    <div class="bg-color">
      <img src="../../assets/toast/grade.svg" alt="">
    </div>
    <div class="content">
      <div class="icon">
        <img src="../../assets/toast/erroIcon.svg" alt="">
      </div>
      <div class="textToast">
        <h2>Falha na conexão com o servidor</h2>
        <p>Estamos enfrentando problemas para conectar ao servidor do nosso sistema no momento.
        </p>
      </div>
    </div>
  </div>

  <!-- Toast de Sucesso -->
  <div class="toast Success">
    <div class="bg-color">
      <img src="../../assets/toast/grade.svg" alt="">
    </div>
    <div class="content">
      <div class="icon">
        <img src="../../assets/toast/successIcon.svg" alt="">
      </div>
      <div class="textToast">
        <h2>Pagamento recebido</h2>
        <p>Seu pagamento foi recebido com sucesso.
          Agora você tem acesso aos serviços premium.
            </p>
      </div>
    </div>
  </div>
</div>
