  <!-- Toast de Sucesso -->
  <div class="toast Success">
    <div class="bg-color">
      <img src="../../../../assets/toast/grade.svg" alt="">
    </div>
    <div class="content">
      <div class="icon">
        <img src="../../../../assets/toast/successIcon.svg" alt="">
      </div>
      <div class="textToast">
        <h2>Pagamento recebido</h2>
        <p>Seu pagamento foi recebido com sucesso.
          Agora você tem acesso aos serviços premium.
            </p>
      </div>
    </div>
  </div>
