<ion-content scrollY="false" >
  <div class="body">
    <div class="containerHeader">    
      <h1>Seja Bem-Vindo</h1>
    </div>

    <div class="bolinhas">
      <div class="div1"></div>
      <div class="div2"></div>
      <div class="div3"></div>
    </div>
    <div class="boxSombra1">
    </div>
    <div class="boxSombra2">
    </div>
  <div class="box">
    <img src="../../assets/png/people-list.png" alt="" class="peopleList">
    <span>Na Volta Eu Compro</span>
    <p>Inicie sua jornada financeira para um futuro estável</p>
    <div class="container">   
      <app-button-medium [routerLink]="['/load-screen2']">Continuar</app-button-medium>
    </div>
  </div>

  </div>

</ion-content>


