<div>
  <ion-list [inset]="true" style="
    padding: 1px 2px 1px 2px;
    margin: 10px;
    border: var(--Space-space-025, 2px) solid #DCDFE4;
    border-radius: var(--Space-8, 8px);
    ">
    <ion-item [button]="true" [detail]="false" id="select-fruits" style="
    width: 175px;
    font-size: 12px;
    font-weight:600;
    height: 49px;
    ">
      <!-- <ion-label >Categoria</ion-label> -->
      <div id="selected-fruits" style="color: #9FADBC;
      ">{{ selectedFruitsText }}</div>
      <ion-icon slot="end" name="chevron-down-outline" style="color: #9FADBC;"></ion-icon>
    </ion-item>
</ion-list>
</div>

<ion-modal trigger="select-fruits" #modal>
  <ng-template >
    <app-typeahead
      class="ion-page"
      title="Categorias"
      [items]="fruits"
      [selectedItems]="selectedFruits"
      (selectionChange)="fruitSelectionChanged($event)"
      (selectionCancel)="modal.dismiss()"
    ></app-typeahead>
  </ng-template>
</ion-modal>
