.box{
    width: 430px;
    height: 615px;
    flex-shrink: 0;
    border-radius: 48px 48px 0px 0px;
    background: var(--Color-inverted-inverted0, #FFF);
    position: fixed;
    justify-content: end;
    z-index:  3;
    bottom: 0;
    
}

h1{
    color: var(--Color-Neutral-Light-N100, #F7F8F9);
    text-align: center;
    font-family: 'Poppins';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 35.2px; 
    margin: 0;
}

.peopleList{
    display: flex;
    width: 300px;
    height: 300px;
    align-items: center;
    flex-shrink: 0;
    background: #FFF;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: center;
 padding-top:  -50%;
}

span{
    color: var(--Color-inverted-inverted400, #B3B9C4);
    font-family: 'Poppins';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    margin: 150px;
    justify-content: center;
    left: 50;
    right: 50;
    padding-top:  40%;
}

p{
    color: var(--Color-Neutral-Dark-N300, #2C333A);
    text-align: center;
    font-family:  'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 26.4px; 
    margin: 0px 25px 0px 25px;
}

app-button-medium{
    justify-content: center;
    left:  0;
    right: 0;
    margin:  auto;
    align-items: center;
    padding-top:  10%;

}

.container {
    padding-top: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.button{
    padding-bottom: 2% ;
}


.containerHeader{
    display: flex;
    justify-content: center;
    align-items: center;


}

h1{
    padding-top: 20% ;
    color: var(--Color-Neutral-Dark-N100, #1D2125);
    text-align: center;
    font-family: 'Poppins';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 35.2px; 
}


.div1{
    width: 36px;
    height: 13.2px;
    border-radius: 19.2px;
    border: var(--Space-space-025, 2px) solid var(--Color-brand1, #006EFF);
}

.div2{
    width: 13.2px;
    height: 13.2px;
    border-radius: 19.2px;
    border: var(--Space-space-025, 2px) solid var(--Color-inverted-inverted400, #B3B9C4);
}

.div3{
    width: 13.2px;
    height: 13.2px;
    border-radius: 19.2px;
    border: var(--Space-space-025, 2px) solid var(--Color-inverted-inverted400, #B3B9C4);
}

.bolinhas{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding-top: 18% ;
}