<ion-content *ngIf="community" [fullscreen]="true">
  <div class="content">
  <img class="forward" src="../../assets/svg/arrow_forward_ios.svg" alt=""  
  (click)="navigateToCommunityPage(community.id_comunidade, community.id_criador)"
  >
  <ion-segment class="header" color="secondary" value="segment" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="segment">
      <ion-label>Listas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="secondary">
      <ion-label>Sobre</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- <div>
    <button ion-button (click)="toggleDateTime()">Selecionar data</button>
    <ion-datetime *ngIf="showDateTime" minuteValues="0,15,30,45" dayValues="5,10,15,20,25,30"></ion-datetime>
  </div>
   -->
  
  <div [ngSwitch]="segmentValue" class="todosGrafico">
    <div *ngSwitchCase="'segment'">
      <div class="list-user">
        <div *ngFor="let list of lists" name="lists" class="list">
          <h3 class="yellow-text">Esta é a sua lista</h3>
          <div class="user-price">
            <div class="name-address">
              <h5 class="black-text">{{list.nm_usuario}}</h5>
              <span class="grey-text">Local: local da lista</span>
              <!-- <h4 class="yellow-text">{{userName}}</h4><br>
              <span class="yellow-text">{{listAddress}}</span> -->
            </div>
  
            <div class="totalList">
              <h3 class="yellow-text">R$ <b class="yellow-text">103,43</b></h3>
              <!-- <h3 class="yellow-text">R$ <b>{{totalList}}</b></h3> -->
  
              <button class="btn-lists btn-list" [routerLink]="['/comunnity-lists-item', userId, communityId]">
                <img src="../../assets/svg/arrow_forward.svg" alt="">
              </button>
            </div>
          </div>
        </div>
     </div>
  
     <div class="compare-lists">

      <!-- <div class="listEconomic">
        <div class="list">
          <h3 class="titleText">Esta é a lista mais barata</h3>
          <div class="value">
            <div class="name-address">
              <h5 class="black-text">Nome do usuário</h5>
              <span class="grey-text">Local: local da lista</span>
              <h4 class="yellow-text">{{userName}}</h4><br>
              <span class="yellow-text">{{listAddress}}</span>
            </div>
  
            <div class="totalList">
              <h3 class="yellow-text">R$ <b class="yellow-text">103,43</b></h3>
              <h3 class="yellow-text">R$ <b>{{totalList}}</b></h3>
  
              <button class="btn-lists btn-list">
                <img src="../../assets/svg/arrow_forward.svg" alt="">
              </button>
            </div>
          </div>
        </div>
      </div> -->


      <div  class="usersLists">
        <button class="btn-lists" style="color: #ffffff">Comparar Listas</button>

          <div class="lists-component">

            <div *ngFor="let lists of usersLists" class="lists-users">
              <div class="name-address">
                <h4 class="black-text">{{lists.nm_usuario}}</h4>
                <span class="grey-text span">Local: local</span>
                <!-- <h4>{{userName}}</h4><br>
                <span>{{listAddress}}</span> -->
              </div>
    
              <div class="total-list">
                <h3  class="yellow-text">R$ <b class="yellow-text">300,34</b></h3>
                <!-- <h3  class="yellow-text">R$ <b>{{totalList}}</b></h3> -->
    
                <button class="btn-lists btn-list" [routerLink]="['/comunnity-lists-item']">
                  <img src="../../assets/svg/arrow_forward.svg" alt="">
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 
    <div *ngSwitchCase="'secondary'">

      <div  >
        <div class="info">
          <h2>{{community.nm_comunidade}}</h2>
        </div>

        <div class="category">
          <h6><b  class="title">Categoria:</b></h6>
          <h6 style="text-transform: uppercase; margin: 0px;">{{community.ds_categoria}}</h6>
        </div>

        <div class="divider">

        </div>

        <div class="description">
          <h6><b class="title">Descrição:</b></h6>
          <h6>{{community.sb_comunidade}}</h6>
        </div>
        
        <div class=" participantes">
          <h5 class="title">Participantes</h5>

          <div class="guests">

            <div class="creator">
              <h5>{{community.nm_usuario}}</h5>
              <div style="width: 100px; height: 40px; display: flex; align-items: center; justify-content: center; color: #ffffff;" class="btn-lists">Criador</div>
            </div>

            <div 
              *ngFor="let user of usersCommunity" 
              name="usersCommunity" 
              class="other-guest" 
              style="margin-top: 20px;"
              >
              <h5>{{user.nm_usuario}}</h5>
            </div>


          </div>
        </div>

      </div>

    </div>


  </div>
</div>




</ion-content>