@import '../../global.scss';

*{
    color: #{$N0D};
    margin: 0px;
    font-family: 'Poppins';
}
.content{
    margin: 20px;
}
.header{
    padding-top: 10px;
}
.todosGrafico{
    padding-top: 32px;
}
.list-user{
    border: dashed 3px #{$brand1};
    border-radius: 25px;
    width: 100%;
    padding: 10px 28px 17px 28px;
    margin-bottom: 40px;
}
.yellow-text{
    color: #{$brand2};
    font-weight: 600;
    font-size: 20px;
}
.btn-lists{
    background: #{$brand1};
    border-radius: 10px;
    padding: 12px 12px;
}
.total-list{
    display: flex;
    justify-content: end;
    align-items: center;
}
.btn-list{
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
.compare-lists,
.participantes{
    border-radius: 24px;
    padding: 10px 16px 20px 16px;
    background: #F1F2F4;
    width: 100%;
    height: fit-content;
    margin-top: 24px;
}
.grey-text{
    color: #B3B9C4;
    font-size: 12px;
}
.black-text{
    color: #000000;
}
.lists-users{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;

    border-bottom: 1.8px solid #DCDFE4;
}
.name-address{
    height: fit-content;
    width: 250px;
    max-width: 250px;
}

.name-address .grey-text {
    max-width: 180px; /* Define a largura máxima para o span */
    display: inline-block; /* Permite que max-width funcione com elementos inline */
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
    overflow: hidden; /* Esconde o texto que ultrapassar a largura máxima */
    text-overflow: ellipsis; /* Adiciona reticências (...) ao final do texto cortado */
  }
h4, h3, h5{
    margin: 0px !important ;
}
.user-price{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.divider{
    width: 100%;
    height: 3px;
    background: #{N0D};
}
.creator{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-desc {
    color: var(--Color-Neutral-Dark-N500, #596773);
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}
.title{
    font-size: 20px;
}

.listEconomic{
    border: dashed 3px #27AE60;
    border-radius: 25px;
    width: 100%;
    padding: 10px 15px 17px 15px;
    margin-bottom: 20px;
}

.titleText{
    overflow: hidden;
    color: var(--Color-brand2, #FFAC4A);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
}

.totalList{
    display: flex;
    justify-content: right;
    padding-bottom: 20px;
}


.value{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.usersLists{
    margin-left: 15px;
    margin-right: 15px;
}

.btn-edit{
    width:40px;
    height:40px;
    padding: 1px;
    border-radius: 10px;
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.info h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #006EFF; 
    line-height: 35.2px;
}

.title {
    color: var(--Color-brand2, #FFAC4A);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: 25.2px;
}

.rs-comp {
    padding: 10px;
}

.t-part {
    margin-top: 32px !important;
}

hr {
    width: 100%;
    margin-top: 16px;
    height: 1.8px;
    border-radius: 7.2px;
    background: var(--Color-inverted-inverted300, #DCDFE4);
}