@import "./../../../../global.scss";

:host{
    ion-card{
        width: 100px;
        height: 146px;
        
    }
    .image-item{
        width: 100px;
        height: 100px;
        padding: 10px;
 
    }
    .chekbox-item{
        color: #{$title};
        font-weight: 700;
        --size: 15px;
        --checkbox-background-checked: #{$brand1};
    }
    .text-item p {
        margin: 0px;
    }
    p span{
        margin-left: 3px;
        margin-right: 3px;
        color: #{$N500};
    }
    span b{
        color: #121212;
    }
    ion-checkbox::part(container){
        border-radius: 6px;
    }
    span{
        font-size: #{$textSmalling};
    }
    .text-item{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items:center;
    }
    .item-price{
        display: flex;
        justify-content: space-between;
    }
    ion-checkbox p{
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 60px;
    }
}

:host.card-item-comparation ion-card{
    border: 3px dashed #{$brand1};
    border-radius: 16px;
}