@import "./../../../../global.scss";

:host{
    ion-card{
        width: 100px;
        height: 146px;
        
    }
    .image-item{
        width: 100px;
        height: 100px;
 
    }
    p{
        font-size: 20px;
        color: #{title};
        margin: 0px;
    }
    span{
        font-size: #{$textSmalling};
    }

    .text-item{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

:host.card-item-comparation ion-card{
    border: 3px dashed #{$brand1};
    border-radius: 16px;
}