<ion-card>
  <div  [routerLink]="['/update-item']" class="image-item">
    <img [src]="imagePath" alt="">
  </div>
  <div class="text-item">
    <div class="checkbox" style="display: flex; align-items: center;">
      <ion-checkbox class="chekbox-item" labelPlacement="end"></ion-checkbox>
      <p style="margin: 0; margin-left: 4px; color: #000000; font-weight: 600;">{{itemName}}</p>
    </div>
    <p>
      <span>{{description}}</span>
      <span><b>{{price}}</b></span>
    </p>
  </div>
</ion-card>